# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

##########################################################################################
# Be sure to edit the values below
##########################################################################################

title: U.S. Access Board
email: info@access-board.gov
description: >- # this means to ignore newlines until "baseurl:"
  The U.S. Access Board is a federal agency that promotes equality for people with disabilities
  through leadership in accessible design and the development of accessibility guidelines and
  standards for the built environment, transportation, communication, medical diagnostic
  equipment, and information technology.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.access-board.gov"

# Twitter handle. Only the handle, not the URL.
twitter: AccessBoard

# Configuration for Google Analytics, add your UA code here:
google_analytics_ua: UA-33523145-1

# Digital Analytics Program (DAP) configuration
dap:
  # USAID   - Agency for International Development
  # USDA    - Department of Agriculture
  # DOC     - Department of Commerce
  # DOD     - Department of Defense
  # ED      - Department of Education
  # DOE     - Department of Energy
  # HHS     - Department of Health and Human Services
  # DHS     - Department of Homeland Security
  # HUD     - Department of Housing and Urban Development
  # DOJ     - Department of Justice
  # DOL     - Department of Labor
  # DOS     - Department of State
  # DOI     - Department of the Interior
  # TREAS   - Department of the Treasury
  # DOT     - Department of Transportation
  # VA      - Department of Veterans Affairs
  # EPA     - Environmental Protection Agency
  # EOP     - Executive Office of the President
  # GSA     - General Services Administration
  # NASA    - National Aeronautics and Space Administration
  # NARA    - National Archives and Records Administration
  # NSF     - National Science Foundation
  # NRC     - Nuclear Regulatory Commission
  # OPM     - Office of Personnel Management
  # USPS    - Postal Service
  # SBA     - Small Business Administration
  # SSA     - Social Security Administration
  agency: U.S. Access Board
  # Optional, this will append &subagency= to the code snippet
  subagency:

# Site Navigation
primary_navigation:
  - name: About
    url: /about/
  - name: News
    url: /news/
  - name: Advancing Access
    children:
      - name: Rulemaking & Initiatives
        url: /initiatives/about.html
      - name: Outreach
        url: /outreach/about/
      - name: Research
        url: /research
  - name: Guidelines & Standards
    url: /gs/
    children:
      - name: ICT (§508 and §255)
        url: /ict/
      - name: Americans with Disabilities Act
        url: /ada/
      - name: Architectural Barriers Act
        url: /aba/
      - name: Transportation Vehicles
        url: /ada/vehicles/
      - name: Public Rights-of-Way
        url: /prowag/
      - name: Passenger Vessels
        url: /pvag/
      - name: Medical Diagnostic Equipment
        url: /mde/
      - name: Prescription Drug Labels
        url: /rx.html
  - name: Training & Webinars
        url: /webinars/
  - name: File an ABA Complaint
    url: /enforcement/
  - name: Contact Us
    url: /contact/

secondary_navigation:
  - name: En Español
    url: /es/

# Search.gov configuration
# 1. Create an account with Search.gov https://search.usa.gov/signup
# 2. Add a new site.
# 3. Add your site/affiliate name here.
searchgov:
  endpoint: https://search.usa.gov # You should not change this.
  affiliate: usab # replace this with your search.gov account
  access_key: 2ptOZyLyu778gjQEYJAYBc-0b0wXGJ8XylYt-LhPTXc= # this is usab API Access Key 2020-09-17
  inline: true #this renders the results on the same domain. Otherwise, it will render the results in the search.gov domain

##########################################################################################
# The values below here are more advanced and should only be
# changed if you know what they do
##########################################################################################

collections:
  pages:
    output: true
    permalink: /:path/
  ada:
    output: true
  aba:
    output: true
  ada-guides:
    output: true
    permalink: /ada/guides/:path/
  animations:
    output: true
    permalink: /animations/:path/
  aba-guides:
    output: true
    permalink: /aba/guides/:path/
  prowag:
    output: true
    permalink: /prowag/:path/
  prowag-rulemaking:
    output: true
    permalink: /prowag/rulemaking:path/
  ada-vehicles:
    output: true
    permalink: /ada/vehicles/:path/
  ada-vehicles-guides:
    output: true
    permalink: /ada/vehicles/guides/:path/
  ict:
    output: true
    permalink: /ict/:path/
  mde:
    output: true
    permalink: /mde/:path/
  pvag:
    output: true
    permalink: /pvag/:path/
  research:
    output: true
    permalink: /research/:path/
  es:
    output: true
  staff:
    output: true
    permalink: /about/staff/:name/
  board-members:
    output: true
    permalink: /about/board-members/:name/
  tags:
    output: false
  contacts-504:
    output: false
  redirect-tos:
    output: true

permalink: pretty

defaults:
  - scope:
      path: ""
      type: "ada"
    values:
      banner-title: "Americans with Disabilities Act"
      banner-subtitle: "Accessibility Standards"
      collection-folder: ada
      toc-group: ""
      layout: universal
      image-directory: /images/ada-aba/standards/
      right-sidenav: sidenav-right-universal.html
      s-url: /ada/guides/
      s-url-text: "View ADA Guides"
      s-image: stock/guide.svg
      ta-text: "Contact the Access Board for guidance on these standards:"
      ta-email-pre: ta
  - scope:
      path: ""
      type: "ada-guides"
    values:
      banner-title: "Guide to the ADA Accessibility Standards"
      collection-folder: ada-guides
      layout: universal
      toc: /toc/auto.html
      toc-group: ada-guides
      file-directory: /files/ada-aba/guides/ada/
      image-directory: /images/ada-aba/guides/
      right-sidenav: sidenav-right-universal.html
      s-url: /ada/
      s-url-text: "View ADA Standards"
      s-image: stock/ada.svg
      ta-text: Contact the Access Board for guidance on these standards
      ta-email-pre: ta
  - scope:
      path: ""
      type: "animations"
    values:
      layout: page-right-sidenav
      right-sidenav: sidenav-animations.html
      banner-title: Accessibility Animations
  - scope:
      path: ""
      type: "aba"
    values:
      banner-title: "Architectural Barriers Act"
      banner-subtitle: "Accessibility Standards"
      toc: /toc/auto.html
      toc-group: ""
      collection-folder: aba
      layout: universal
      image-directory: /images/ada-aba/standards/
      right-sidenav: sidenav-right-universal.html
      s-url: /aba/guides/
      s-url-text: "View ABA Guides"
      s-image: stock/guide.svg
      ta-text: Contact the Access Board for guidance on these standards
      ta-email-pre: ta
  - scope:
      path: ""
      type: "aba-guides"
    values:
      banner-title: "Guide to the ABA"
      banner-subtitle: "Accessibility Standards"
      toc: /toc/auto.html
      toc-group: aba-guides
      collection-folder: aba-guides
      layout: universal
      image-directory: /images/ada-aba/guides/
      right-sidenav: sidenav-right-universal.html
      s-url: /aba/
      s-url-text: "View ABA Standards"
      s-image: stock/aba.svg
      ta-text: Contact the Access Board for guidance on these standards
      ta-email-pre: ta
  - scope:
      path: ""
      type: "prowag"
    values:
      banner-title: "(Proposed) Public Rights-of-Way"
      banner-subtitle: "Accessibility Guidelines"
      collection-folder: prowag
      layout: universal
      toc: /toc/auto.html
      toc-group: prowag
      image-directory: /images/prowag/
      right-sidenav: sidenav-right-universal.html
      ta-text: Contact the Access Board for assistance on these guidelines
      ta-email-pre: row
  - scope:
      path: ""
      type: "prowag-rulemaking"
    values:
      collection-title: "Public Rights-of-Way Accessibility Guideliness - Rulemaking"
      collection-folder: prowag-rulemaking
      layout: standards
      file-directory: /files/prowag/
      image-directory: /images/prowag/
  - scope:
      path: ""
      type: "ada-vehicles"
    values:
      collection-title: "ADA Accessibility Guidelines for Vehicles"
      collection-folder: ada-vehicles
      layout: universal
      toc: "/toc/auto.html"
      toc-group: ""
      file: /files/vehicles/vehicle-guidelines.pdf
      image-directory: /images/vehicles/
      right-sidenav: sidenav-right-universal.html
      s-url: /ada/vehicles/guides/
      s-url-text: "Go to the ADA Vehicles Guides"
      s-image: stock/guide.svg
      ta-text: Contact the Access Board for assistance on these guidelines
      ta-email-pre: ta
  - scope:
      path: ""
      type: "ada-vehicles-guides"
    values:
      collection-title: "Guide to ADA Vehicles"
      collection-folder: ada-vehicles-guides
      layout: universal
      toc: "/toc/auto.html"
      toc-group: ada-vehicles-guides
      image-directory: /images/vehicles/
      right-sidenav: sidenav-right-universal.html
      s-url: /ada/vehicles/
      s-url-text: "Go to ADA Vehicles"
      s-image: stock/ada-vehicles.svg
      ta-text: Contact the Access Board for assistance on these guidelines
      ta-email-pre: ta
  - scope:
      path: ""
      type: "ict"
    values:
      banner-title: "Information and Communication Technology"
      banner-subtitle: "Revised 508 Standards and 255 Guidelines"
      collection-folder: ict
      layout: universal
      toc: /toc/ict.html
      toc-group: ""
      file-directory: /files/ict/
      image-directory: /images/ict/
      right-sidenav: sidenav-right-universal.html
      ta-text: Contact the Access Board for guidance on these standards
      ta-email-pre: "508"
  - scope:
      path: ""
      type: "mde"
    values:
      banner-title: "Medical Diagnostic Equipment"
      banner-subtitle: "Accessibility Standards"
      collection-folder: mde
      layout: universal
      toc: /toc/auto.html
      toc-group: mde-standards
      image-directory: /images/mde/
      right-sidenav: sidenav-right-universal.html
      ta-text: Contact the Access Board for guidance on these standards
      ta-email-pre: mde
  - scope:
      path: ""
      type: "pvag"
    values:
      banner-title: "(Proposed) Passenger Vessels"
      banner-subtitle: "Accessibility Guidelines"
      collection-folder: pvag
      toc: toc/auto.html
      toc-group: pvag
      layout: universal
      file-directory: /files/pvag/
      image-directory: /images/pvag/
      right-sidenav: sidenav-right-universal.html
      ta-text: Contact the Access Board for further guidance on access to passenger vessels
      ta-email-pre: pvag
  - scope:
      path: ""
      type: "research"
    values:
      collection-title: "Research"
      collection-folder: research
      layout: universal
      toc: "/toc/auto.html"
      toc-group: ""
      sitemap-title: Research
  - scope:
      path: ""
      type: "es"
    values:
      collection-title: "En Español"
      collection-folder: es
      layout: standards
      image-directory: /images/
  - scope:
      path: "_staff"
    values:
      layout: profile
      banner-title: Access Board Staff
      sitemap: false
  - scope:
      path: "_board-members"
    values:
      layout: profile
      banner-title: Access Board Members
  - scope:
      path: ""
      type: "pages"
    values:
      collection-title: "Pages"
      collection-folder: pages
  - scope:
      path: ""
      type: "posts"
    values:
      sitemap-title: Posts
  - scope:
      path: "_redirect-tos"
    values:
      sitemap: false
future: true

markdown: kramdown
plugins:
  - jekyll-include-cache
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-seo-tag

############################################################
# Site configuration for the Jekyll 3 Pagination Gem
# The values here represent the defaults if nothing is set
pagination:
  # Site-wide kill switch, disabled here it doesn't run at all
  enabled: true
  # Set to 'true' to enable pagination debugging. This can be enabled in the site config or only for individual pagination pages
  debug: false
  # The default document collection to paginate if nothing is specified ('posts' is default)
  collection: "posts"
  # How many objects per paginated page, used to be `paginate` (default: 0, means all)
  per_page: 10
  # The permalink structure for the paginated pages (this can be any level deep)
  permalink: "/page/:num/" # Pages are index.html inside this folder (default)
  #permalink: '/page/:num.html' # Pages are simple html files
  #permalink: '/page/:num' # Pages are html files, linked jekyll extensionless permalink style.
  # Optional the title format for the paginated pages (supports :title for original page title, :num for pagination page number, :max for total number of pages)
  title: ":title - page :num"
  # Limit how many pagenated pages to create (default: 0, means all)
  limit: 0
  # Optional, defines the field that the posts should be sorted on (omit to default to 'date')
  sort_field: "date"
  # Optional, sorts the posts in reverse order (omit to default decending or sort_reverse: true)
  sort_reverse: true
  # Optional, the default category to use, omit or just leave this as 'posts' to get a backwards-compatible behavior (all posts)
  category: "posts"
  # Optional, the default tag to use, omit to disable
  tag: ""
  # Optional, the default locale to use, omit to disable (depends on a field 'locale' to be specified in the posts,
  # in reality this can be any value, suggested are the Microsoft locale-codes (e.g. en_US, en_GB) or simply the ISO-639 language code )
  locale: ""
  # Optional,omit or set both before and after to zero to disable.
  # Controls how the pagination trail for the paginated pages look like.
  trail:
    before: 2
    after: 2
  # Optional, the default file extension for generated pages (e.g html, json, xml).
  # Internally this is set to html by default
  extension: html
  # Optional, the default name of the index file for generated pages (e.g. 'index.html')
  # Without file extension
  indexpage: "index.html"

exclude:
  - package.json
  - package-lock.json
  - README.md
  - CONTRIBUTING.md
  - LICENSE.md
  - degit.json
  - vendor
  - node_modules
  - Gemfile
  - Gemfile.lock
  #  Uncomment to speed up build times
  # - _ada
  # - _ada-guides
  # - _prowag*
  # - _aba*
  # - _research*
  # other development build tips: include_cached meta.html header.html in the base layout

assets:
  sources:
    - node_modules/dompurify/dist/
    - node_modules/stickyfilljs/dist
    - node_modules/uswds/dist/img
    - node_modules/uswds/dist/js
    - node_modules/uswds/dist/scss
    - node_modules/netlify-cms/dist
    - node_modules/stickyfilljs/dist
    - node_modules/stickyfilljs/dist
    - node_modules/video.js/dist
    - node_modules/videojs-youtube/dist
    - node_modules/anchor-js
    - node_modules/jquery/dist
    # - node_modules/datatables/dist/js
    # - node_modules/datatables/dist/css
    - node_modules/jquery-toast-plugin/dist
    - node_modules/@fortawesome/fontawesome-free/css
    - node_modules/@fortawesome/fontawesome-free/js
    - node_modules/swiper
    - images
