---
layout: default
title: News & Events
pagination:
  enabled: true
  category: news
---

{% include section-title.html %}
<div id="content" class="grid-container maxw-desktop">
  <div class="grid-row">
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
      <!-- This loops through the paginated posts -->
       {% for post in paginator.posts %}
       <div class="padding-bottom-5 margin-top-4 usa-prose border-bottom-05 border-base-lightest">
         <h3 class="title">
           <a class="usa-link text-no-underline" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
         </h3>
        <div class="margin-bottom-2">
          <div class="text-bold margin-top-neg-105">
          {% comment %}  By
            {% for author in post.authors %}
              {% include staff.html staff=author %}
            {% endfor %}
            · {% endcomment %}
             {{ post.date | date: '%B %d, %Y' }}
          </div>
        </div>
        <div class="clearfix">
          {% if post.image %}
          <img src="{{ site.baseurl }}{{ post.image }}"
          class="img-right maxw-card-lg maxh-card-lg" alt="{{ post.image_alt_text }}">
          {% endif %}
          {% if post.excerpt %}
          {{ post.excerpt }}
              {% comment %} We default to using post.excerpt, but
              you can also use post.content. If you use excerpt then you have to
              make sure the content is on each post header {% endcomment %}
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% include back-to-top.html %}
      {% include links-pagination.html %}
    </div>
    <aside class="desktop:grid-col-fill margin-top-4 padding-right-4">
      {% include sidenav-posts.html %}
    </aside>
  </div>
</div>
