<aside id="toc" class="desktop:grid-col-3 margin-bottom-2 padding-right-2 border-right-width-2">
    <div class="padding-2 bg-white height-viewport overflow-y-scroll sticky">
      <nav role="navigation" class="toc-subnav usa-accordion" aria-multiselectable="true" aria-label="Table of contents subnavigation">
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item">
            <button class="top-level-accordion usa-accordion__button"
              aria-expanded="true"
              aria-controls="subnav-list"
            >
              Table of Contents
            </button>
            <ul id="subnav-list" class="usa-accordion__content usa-sidenav__sublist">
              <li class="usa-sidenav__item">
                <button class="subnav-anchor usa-current usa-accordion__button"
                  aria-expanded="true"
                  aria-controls="toc-about"
                >
                Design Recommendations for Accessible Electric Vehicle Charging Stations
                </button>
                  <ul id="toc-about" class="usa-accordion__content usa-sidenav__sublist" aria-label="Page sections navigation">
                    <li class="usa-sidenav__item"><a href="#types-of-ev-charging-stations-that-must-be-accessible">Types of EV Charging Stations that must be Accessible</a></li>
                    <li class="usa-sidenav__item"><a href="#definitions">Definitions</a></li>
                    <li class="usa-sidenav__item"><a href="#differences-between-charging-spaces-and-parking-spaces">Differences between Charging Spaces and Parking Spaces</a></li>
                    <li class="usa-sidenav__item"><a href="#existing-requirements-that-apply-to-ev-charging-stations">Existing Requirements that apply to EV Charging Stations</a></li>
                    <li class="usa-sidenav__item"><a href="#accessible-ev-chargers">Accessible EV Chargers</a></li>
                    <li class="usa-sidenav__item"><a href="#accessible-mobility-features-1">Accessible Mobility Features</a>
						<ul>
						<li class="usa-sidenav__item"><a href="#accessible-routes">Accessible Routes</a></li>
						<li class="usa-sidenav__item"><a href="#electric-vehicle-charging-space-and-access-aisle">Electric Vehicle Charging Space and Access Aisle</a></li>
						<li class="usa-sidenav__item"><a href="#access-aisle-relation-to-ev-charger">Access Aisle Relation to EV Charger</a></li>
						<li class="usa-sidenav__item"><a href="#alignment-of-charger-with-location-of-vehicle-charging-inlets">Alignment of Charger with Location of Vehicle Charging Inlets</a></li>
						<li class="usa-sidenav__item"><a href="#clear-floor-or-ground-space">Clear Floor or Ground Space</a></li>
						<li class="usa-sidenav__item"><a href="#operable-parts-within-reach-range">Operable Parts within Reach Range</a></li>
						</ul>
					</li>
                    <li class="usa-sidenav__item"><a href="#accessible-communication-features-1">Accessible communication Features</a>
						<ul>
							<li class="usa-sidenav__item"><a href="#accessible-routes">Accessible Routes</a></li>
						</ul>
					</li>
                    <li class="usa-sidenav__item"><a href="#ev-charging-station-location-within-a-site">EV Charging Station Location within a site</a></li>
                    <li class="usa-sidenav__item"><a href="#ev-charging-stations-at-residential-facilities">EV Charging Stations at residential facilities</a></li>
                    <li class="usa-sidenav__item"><a href="#ev-charging-stations-in-the-public-right-of-way">EV Charging Station in the public right of way</a></li>
                    <li class="usa-sidenav__item"><a href="#fleet-electric-vehicle-charging-stations">Fleet electric vehicle charging stations</a></li>
                    <li class="usa-sidenav__item"><a href="#other-considerations">Other Considerations</a></li>
                    <li class="usa-sidenav__item"><a href="#number-of-accessible-chargers">Number of accessible chargers</a></li>
                    <li class="usa-sidenav__item"><a href="#common-questions">Common questions</a></li>
                  </ul>
              </li>
              
    
    
    
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
