    <h4>Additional Resources</h4>
    <p> sample text sample text sample text</p>
    <ul class="usa-list usa-list--unstyled padding-top-2">
    
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/guides/">Guide to the ADA standards</a>
      </li>
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/guides/animations/">Animations</a>
      </li>
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/background/">Background information</a>
      </li>
    </ul>
    {% include technical-assistance.html %}