<div class="float-right tablet:width-1/3 padding-left-3 padding-top-2 margin-bottom-4 border-top-1 border-bottom-1 border-accent-cool-darker usa-prose">
    <h4>Additional Resources</h4>
    <p> sample text sample text sample text</p>
    <ul class="usa-list usa-list--unstyled padding-top-2">
    
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/guides/">Guide to the ADA standards</a>
      </li>
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/guides/animations/">Animations</a>
      </li>
      <li class="padding-bottom-1">
        <a class="usa-link" href="{{ site.baseurl }}/ada/background/">Background information</a>
      </li>
    </ul>
    <h4>Technical Assistance</h4>
    <p>If you have questions on these accessibility guidelines and standards call or email:</p>
    <ul class="usa-list usa-list--unstyled padding-top-2">
      <li class="padding-bottom-1">(800) 872-2253</li>
      <li class="padding-bottom-1">TTY: (800) 993-2822</li>
      <li class="padding-bottom-1">ta@access-board.gov turn this into a link</li>
    </ul>  
  </div>