<div style="background-image: url('{{ site.baseurl }}/images/white-square.gif'; background-repeat: repeat-x;">
    <p> &nbsp; </p> </div>
    <section class="usa-graphic-list bg-black padding-y-2">
    <div class="filmstrip margin-bottom-2"></div>
    <div class="grid-container">
        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for video in site.data.ada-animations %}
                <a href="{{ site.baseurl }}{{ video.url }}"
                    class="swiper-slide"
                    style="background-image: url({{ site.baseurl }}{{ video.image }});"
                    >
                    <span class="label-overlay">{{ video.video-name }}</span>
                </a>
                {% endfor %}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>
    <div class="filmstrip margin-top-2"></div>
</section>
<div style="background-image: url('{{ site.baseurl }}/images/white-square.gif'; background-repeat: repeat-x;">
    <p> &nbsp; </p> </div>
