<section class="usa-graphic-list bg-black padding-y-10">
    <div class="grid-container">
        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">
                    <a href="{{ site.baseurl }}/ada/guides/animations/" class="style-inherit">
                        <div class="height-card radius-lg">
                            <img src="{{ site.baseurl }}/images/animations/sales.jpg">
                            Accessibility<br>Animations
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="{{ site.baseurl }}/ada/guides/animations/" class="style-inherit">
                        <div class="height-10 radius-lg">
                            <img src="{{ site.baseurl }}/images/animations/sales.jpg">
                             Sales & Service Counters
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
    </div>
</section>