<div class="grid-row">
    <div class="grid-container padding-top-6 maxw-desktop">
      <ul class="usa-card-group">
           {% include card.html heading="ADA Guides" subheading= "" image="images/stock/guide.svg"%}
           {% include card.html heading="ABA Guides" subheading= "" image="images/stock/research.jpeg"%}
           {% include card.html heading="Animations" subheading= "Accessibility Animations" image="images/stock/monitor.jpg"%}
           {% include card.html heading="Newsletter" subheading= ""%}
      </ul>
    </div>
</div>