  <div class="grid-row">
    <div class="grid-container maxw-desktop">
      <ul class="usa-card-group">

        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/av/" class="style-inherit">
            <div class="usa-card__container card-shadow">            
              <div class="padding-1">
                <h3 class="card-name">Autonomous Vehicles</h3>
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img margin-x-auto">
                  <img src="{{ site.baseurl }}/images/uploads/autonomous-bus.jpg" alt="Graphic of Autonomous Bus">
                </div>
              </div>
            </div>
          </a>
        </li>
        
        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/av/" class="style-inherit">
            <div class="usa-card__container card-shadow">            
              <div class="padding-1">
                <h3 class="card-name">Self-Service Transaction Machines</h3>
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img margin-x-auto">
                  <img src="{{ site.baseurl }}/images/uploads/sstm-animation.jpg" alt="Graphic of kiosk">
                </div>
              </div>
            </div>
          </a>
        </li>
        
        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/av/" class="style-inherit">
            <div class="usa-card__container card-shadow">            
              <div class="padding-1">
                <h3 class="card-name">Autonomous Vehicles</h3>
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img margin-x-auto">
                  <img src="{{ site.baseurl }}/images/stock/av-hero.jpg" alt="autonomous vehicle">
                </div>
              </div>
            </div>
          </a>
        </li>
        
        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/av/" class="style-inherit">
            <div class="usa-card__container card-shadow">            
              <div class="padding-1">
                <h3 class="card-name">Autonomous Vehicles</h3>
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img margin-x-auto">
                  <img src="{{ site.baseurl }}/images/stock/av-hero.jpg" alt="autonomous vehicle">
                </div>
              </div>
            </div>
          </a>
        </li>
        
      </ul>
    </div>
  </div>

<br class="page-break">
