  <div class="grid-row padding-top-4">
    <div class="grid-container maxw-desktop">
      <ul class="usa-card-group">

        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/av/" class="style-inherit">
            <div class="usa-card__container card-shadow">            
              <div class="padding-1">
                <h3 class="card-name">Autonomous Vehicles</h3>
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img height-card margin-auto bg-white">
                  <img style="object-fit: contain" src="{{ site.baseurl }}/images/uploads/autonomous-bus.jpg" alt="Graphic of Autonomous Bus">
                </div>
              </div>
            </div>
          </a>
        </li>
        
        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/news/2021/05/24/u-s-access-board-conducts-panel-discussions-on-self-service-transaction-machines/" class="style-inherit">
            <div class="usa-card__container card-shadow">            
              <div class="padding-1">
                <h3 class="card-name">Self-Service Transaction Machines</h3>
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img height-card margin-auto bg-white">
                  <img style="object-fit: contain" src="{{ site.baseurl }}/images/uploads/sstm-animation.jpg" alt="Graphic of kiosk">
                </div>
              </div>
            </div>
          </a>
        </li>
        
        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/news/2021/07/15/u-s-access-board-holds-virtual-meeting-on-inclusive-exercise-and-fitness-equipment/" class="style-inherit">
            <div class="usa-card__container card-shadow">            
              <div class="padding-1">
                <h3 class="card-name">Exercise and Fitness Equipment</h3>
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img height-card margin-auto bg-white">
                  <img style="object-fit: contain" src="{{ site.baseurl }}/images/uploads/treadmill.jpg" alt="Graphic of treadmill">
                </div>
              </div>
            </div>
          </a>
        </li>
        
        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/aircraft/" class="style-inherit">
            <div class="usa-card__container card-shadow">            
              <div class="padding-1">
                <h3 class="card-name">Aircraft</h3>
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img height-card margin-auto bg-white">
                  <img style="object-fit: contain" src="{{ site.baseurl }}/images/uploads/airplanedeparture.jpg" alt="Graphic of airplane departing">
                </div>
              </div>
            </div>
          </a>
        </li>
        
      </ul>
    </div>
  </div>

<br class="page-break">
