<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://18f.gsa.gov">
              {% asset usab-logo.jpg width="50" alt="star logo" %}
            </a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li>Footer link</li>
            <li>Footer link</li>
            <li>Footer link</li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://usa.gov>USA.gov</a></li>
            <li><a href="https://www.regulations.gov/searchResults?rpp=25&amp;so=DESC&amp;sb=postedDate&amp;po=0&amp;dct=N+PR+FR+SR+O&amp;a=ATBCB">Regulations.gov</li>
            <li><a href="https://www.federalregister.gov/agencies/architectural-and-transportation-barriers-compliance-board">FederalRegister.gov</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>