<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <span class="logo-links">
            <a class="footer-logo media_link"
              href="{{ site.baseurl }}/">{% asset usab-logo.png alt="star logo" width="50" %}</a>
          </span>
          <span style="position: relative; bottom:1em;"> &nbsp; <a href="..">Guidance Documents (TBD)</a> &nbsp; <a
              href="{{ site.baseurl }}/about/policy/a11y.html">Accessibility</a> &nbsp; <a
              href="{{ site.baseurl }}/about/par.html">Budget and Performance</a> &nbsp; <a
              href="{{ site.baseurl }}/about/no-fear-data.html">No FEAR Act Data</a> &nbsp; <a
              href="{{ site.baseurl }}/about/policy/foia.html">Freedom of Information Act (FOIA)</a> &nbsp; <a
              href="https://usa.gov">USA.gov</a> &nbsp; </span>
          <span class="logo-links">
            <a class="footer-logo media_link"
              href="{{ site.baseurl }}/">{% asset usab-logo.png alt="star logo" width="50" %}</a>
          </span>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>