{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero desktop:height-card-lg" style="background-image: url({{ site.baseurl }}/images/stock/av-wide.jpg); background-position: center;">
  <div class="grid-container">
    <a href="{{ site.baseurl }}/av/" class="style-inherit">
      <div class="usa-hero__callout bg-secondary-darker maxw-none grid-col-6">
      <h2 class="usa-hero__heading"><em class="usa-hero__heading--alt">Upcoming Information Sessions on Accessible Autonomous Vehicles</em>
      </h2>
    </div>
    </a>
  </div>
</section>
