<section class="usa-graphic-list">
        <div class="">
            <!-- Slider main container -->
            <div class="swiper-container swiper-homepage">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide swiper-slide-hero-carousel"
                        aria-label="av"
                        style="background-image: url({{ site.baseurl }}/images/stock/av-hero.jpg);"
                        title="1 of 7"
                    >
                        <div class="usa-hero__callout bg-white opacity-80">
                            <h2 class="usa-hero__heading"><em class="usa-hero__heading--alt text-secondary-dark">Upcoming Event</em>
                            </h2>
                            <p class="text-black text-bold">
                              Autonomous Vehicle four-part series: Making AVs accessible to passengers with disabilities
                            </p>
                            <a href="{{ site.baseurl }}/av/" class="usa-button">Learn More</a>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide-hero-carousel"
                    aria-label="kiosk"
                    style="background-image: url({{ site.baseurl }}/images/stock/kiosk.jpeg);"
                    title="2 of 7"
                >
                    <div class="usa-hero__callout bg-white opacity-80">
                        <h2 class="usa-hero__heading"><em class="usa-hero__heading--alt text-secondary-dark">Upcoming Event</em>
                        </h2>
                        <p class="text-black text-bold">
                          Kiosks
                        </p>
                        <a href="{{ site.baseurl }}/av/" class="usa-button">Learn More</a>
                    </div>
                    </div>

                    <div class="swiper-slide swiper-slide-hero-carousel"
                    aria-label="training"
                    style="background-image: url({{ site.baseurl }}/images/stock/training.jpeg);"
                    title="3 of 7"
                    >
                        <div class="usa-hero__callout bg-white opacity-80">
                            <h2 class="usa-hero__heading"><em class="usa-hero__heading--alt text-secondary-dark">Upcoming Event</em>
                            </h2>
                            <p class="text-black text-bold">
                            Training
                            </p>
                            <a href="{{ site.baseurl }}/av/" class="usa-button">Learn More</a>
                        </div>
                    </div>


                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <!-- <div class="swiper-scrollbar"></div> -->
            </div>
        </div>
</section>
