{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="grid-container padding-y-4 bg-white desktop:height-card-lg">
  <div class="grid-row">
      <a href="{{ site.baseurl }}/av/" class="style-inherit">
        <div class="padding-4 bg-secondary-darker maxw-none">
        <h2 class="usa-hero__heading text-white font-sans-lg tablet-lg:font-sans-2xl">Upcoming Information Sessions on Accessible Autonomous Vehicles
        </h2>
        <img src="{{ site.baseurl }}/images/autonomous-bus.jpg" alt="Autonomous bus" class="float-right">
        </div>
      </a>
  </div>
</section>
