{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><em class="usa-hero__heading--alt">New guides</em>
        are available on toilet and bathing rooms and drinking fountains!
      </h2>
      <p>The Access Board has released new illustrated technical bulletins on accessibility to restrooms,
        bathing facilities, and drinking fountains.
     </p>
      <a class="usa-button" href="https://www.access-board.gov/news/2006-access-board-issues-guidance-on-toilet-and-bathing-facilities-and-drinking-fountains">See the press release&hellip;</a>
    </div>
  </div>
</section>
