<div class="usa-logo site-logo" id="logo">
  <a class="style-inherit" href="/" title="Home" aria-label="{{site.title}} home">
   <div class="display-flex flex-align-center">
      <div class="star-logo-box">
        <img src="{{ site.baseurl }}/images/usab-logo.svg" class="star-logo">
      </div>
      <div>
        <span aria-hidden="true" class="site-title-short text-bold">USAB</span>
        <span class="site-title">{{site.title}}
          <br>
          <span class="site-subtitle">Advancing Full Access and Inclusion for All</span>
        </span>
      </div>
    </div>
  </a>
</div>
  
    