{% comment %}
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "toc: sidenav.html" in the front-matter of your pages.
BB 5/29/20: visually, adding padding-left:2em to menu items that are not links would also work
{% endcomment %}

<aside id="toc" class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-2">
  <div class="bg-white height-viewport overflow-y-scroll sticky">
    <nav>
      <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
          <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="{{ site.baseurl }}/about/" class="usa-current">About</a>
          <ul class="usa-sidenav__sublist">
            <li class="usa-sidenav__item">
              {% if page.title == "Board Meetings" %}
              <a name="meetings" class="usa-current">Board Meetings &rarr;</a>
              {% else %}
              <a href="{{ site.baseurl }}/about/meetings.html">Board Meetings</a>
              {% endif %}
            </li>
            <li class="usa-sidenav__item">
              <a href="{{ site.baseurl }}/about/board-members/">Board Members</a>
            </li>
            <li class="usa-sidenav__item">
              <a href="{{ site.baseurl }}/about/staff/">Board Staff</a>
            </li>
            <li class="usa-sidenav__item">
              {% if page.title == "Board History" %}
              <a name="history" class="usa-current">Board History &rarr;</a>
              {% else %}
              <a href="{{ site.baseurl }}/about/history.html">Board History</a>
              {% endif %}
            </li>
            <li class="usa-sidenav__item">
              {% if page.title == "Rulemaking Process" %}
              <a name="rulemaking" class="usa-current">Rulemaking Process &rarr;</a>
              {% else %}
              <a href="{{ site.baseurl }}/about/rulemaking.html">Rulemaking Process</a>
              {% endif %}
            </li>
            <li class="usa-sidenav__item">
              {% if page.title == "Budget and Performance" %}
              <a name="budget-performance" class="usa-current">Budget and Performance &rarr;</a>
              {% else %}
              <a href="{{ site.baseurl }}/budget-performance/">Budget and Performance</a>
              {% endif %}
            </li>
            <li class="usa-sidenav__item">
              {% if page.title == "Laws" %}
              <a name="laws" class="usa-current">Laws &rarr;</a>
              {% else %}
              <a href="{{ site.baseurl }}/law/">Laws</a>
              {% endif %}
              <ul class="usa-sidenav__sublist">
                <li class="usa-sidenav__item">
                  {% if page.title == "Americans with Disabilities Act" %}
                  <a name="ada" class="usa-current">ADA &rarr;</a>
                  {% else %}
                  <a href="{{ site.baseurl }}/law/ada.html">ADA</a>
                  {% endif %}
                </li>
                <li class="usa-sidenav__item">
                  {% if page.title == "Architectural Barriers Act" %}
                  <a name="aba" class="usa-current">ABA &rarr;</a>
                  {% else %}
                  <a href="{{ site.baseurl }}/law/aba.html">ABA</a>
                  {% endif %}
                </li>
                <li class="usa-sidenav__item">
                  {% if page.title == "Rehabilitation Act" %}
                  <a name="ra" class="usa-current">Rehabilitation Act &rarr;</a>
                  {% else %}
                  <a href="{{ site.baseurl }}/law/ra.html">Rehabilitation Act</a>
                  {% endif %}
                </li>
                <li class="usa-sidenav__item">
                  {% if page.title == "Telecommunications Act" %}
                  <a name="ta" class="usa-current">Telecommunications Act &rarr;</a>
                  {% else %}
                  <a href="{{ site.baseurl }}/law/ta.html">Telecommunications Act</a>
                  {% endif %}
                </li>
              </ul>
            </li>
            <li class="usa-sidenav__item">
              {% if page.title == "Policies" %}
              <a name="policies" class="usa-current">Policies &rarr;</a>
              {% else %}
              <a href="{{ site.baseurl }}/policy/about/">Policy</a>
              {% endif %}
             </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
