{% comment %} 
The sidenav is not loaded by default on the main pages.  To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages.
BB 5/29/20:  visually, added padding-left:2em to menu items that are links worked.
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="..">Home</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="../about/" class="usa-current">About</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="../about/meetings.html">Board Meetings</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="../about/venue.html">Conference Space</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="../about/history.html">Board History</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="../about/rulemaking.html">Rulemaking Process</a>
          </li>
          <li class="usa-sidenav__item">
            <a name="bp">Budget and Performance</a>
            <ul class="usa-sidenav__sublist">
              <li class="usa-sidenav__item">
                <a href="../about/par.html">Performance and Accountability Report</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="../cj/">Budget Justification</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="../about/foia-report.html">FOIA Annual Report</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="../about/foia-cfor.html">Chief FOIA Officer Report</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="../about/fevs.html">Employee Survey Results</a>
              </li>
            </ul>
          </li>
          <li class="usa-sidenav__item">
            <a href="../laws/">Laws</a>
            <ul class="usa-sidenav__sublist">
              <li class="usa-sidenav__item">
                <a href="../laws/ada.html">ADA</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="../laws/aba.html">ABA</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="../laws/ra.html">Rehabilitation Act</a>
              </li>
              <li class="usa-sidenav__item">
                <a href="../laws/ta.html">Telecommunications Act</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
