{% comment %}
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages.
BB 5/29/20:  visually, adding padding-left:2em to menu items that are not links would also works
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <h2>Table of contents</h2>
    <ul class="usa-sidenav">
      {% assign ordered_chapters = site[page.collection-folder] | sort:"order-number" %}
      {% for chapter in ordered_chapters %}
        <li class="usa-sidenav__item">
           <a href="{{site.baseurl}}{{ chapter.url }}">{{ chapter.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</aside>
