{% comment %}
 this right side navigation is specific to the research page 
{% endcomment %}



    <div class="padding-2 border bg-white shadow">
      <div class="text-center">
        {% asset stock/research.svg class="maxh-15" alt="" %}
        
        <div class="text-center">
          <h4 class="padding-1 bg-secondary-darker text-white">Autonomous Vehicles</h4>
          <span class="font-body-3xs">For more information on the AV Information Series, contact:</span>
          <br>
          <em class="text-bold">Randall Duchesneau</em>
          <br>
          <ul class="usa-list usa-list--unstyled padding-top-1 font-body-3xs">
          <li class="padding-bottom-0">(202) 272-0044 (v)</li>
          <!-- <li class="padding-bottom-0">(202) 272-0027 (tty)</li> -->
          <li class="padding-bottom-0"><a href="mailto:duchesneau@access-board.gov">duchesneau@access-board.gov</a></li>
          </ul>
        </div>

      </div>
      {% include subscribe.html name='Transportation' value='USACCESS_13' %}
    </div>
