{% comment %}
add this right side navigation to any page using front matter. Easiest to apply it to the entire collection in the _config.yml file by adding  right-sidenav: sidenav-right-universal.html 
 then add the information you want in the side navigation

s-url:
s-image:
ta-text:
ta-email-pre:

{% endcomment %}


<div class="desktop:grid-col-2 margin-top-3 margin-x-1">
  <div class="height-viewport sticky">
    <div class="padding-2 bg-white border maxh-viewport overflow-y-auto">
      <div class="text-center">
        {% if page.s-image %}
        <a class="usa-link" href="{{ site.baseurl }}{{ page.s-url }}">
          {% asset {{page.s-image}} class="maxh-10" alt="guides or standards icon" %}
        <span class="usa-button">{{ page.s-url-text }}</span>
        </a>
        {% endif %}
      </div>
      <div class="margin-top-2 text-center">
        {% asset stock/question.svg class="maxh-10" alt="questions icon" %}
        
        <div class="text-center line-height-sans-2 bg-secondary-lighter padding-x-1 padding-bottom-1">
          <p class="padding-1 bg-secondary-darker text-white text-bold margin-bottom-1 margin-x-neg-1">Technical Assistance</p>
          <!-- <p class="font-body-3xs">{{ page.ta-text }}</p> -->
          <ul class="usa-list usa-list--unstyled font-body-3xs">
          <li class="padding-bottom-0">800-872-2253 (v)</li>
          <li class="padding-bottom-0">800-993-2822 (tty)</li>
          <li class="padding-bottom-0"><a href="mailto:{{ page.ta-email-pre }}@access-board.gov">{{ page.ta-email-pre }}@access-board.gov</a></li>
          </ul>
        </div>

      </div>
      {% if page.subscribe-value %}
        {% include subscribe.html %}
      {% endif %}
      {% include back-to-top.html %}
    </div>

  </div>

  </div>