<div class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
  <h4 id="subscribe-news">Subscribe to news updates</h4>
    <form action="https://public.govdelivery.com/accounts/USACCESS/subscribers/qualify" method="get">
      <fieldset>
        <legend>Enter email</legend>
        <input name="topic_id" type="hidden" value="USACCESS_1">
        <img src="{{ site.baseurl }}/images/govDelivery.png" alt="email icon" width="10%" style="float:right">
        <input name="email" type="text" title="addy@example.com"> <br />
        <button name="commit" type="submit" value="Subscribe">Subscribe</button>
      </fieldset>
  </form>
</div>
