<div class="margin-top-2 text-center">
  {% asset stock/news.svg class="maxh-10" alt="news icon" %}
  <div class="text-center line-height-sans-2 bg-secondary-lighter padding-x-1 padding-bottom-1">
    <p class="padding-1 bg-secondary-darker text-white text-bold margin-bottom-1 margin-x-neg-1">Subscribe</p>
    <form action="https://public.govdelivery.com/accounts/USACCESS/subscribers/qualify" method="get" class="usa-form">
      <input name="topic_id" type="hidden" value="{{page.subscribe-value}}">
      <label for="email" class="usa-label margin-0 font-body-3xs">Enter email for updates</label>
      <input id="email" name="email" type="email" title="name@example.com" class="usa-input margin-05">
      <button type="submit" name="commit" value="Subscribe" class="usa-button margin-right-0 margin-top-05">Sign up</button>
    </form> 
  </div>
</div>



{% comment %}
Name:	Value
Access Board News:	USACCESS_1
Buildings and Sites:	USACCESS_28
Health Care:	USACCESS_20
Information and Communication Technology:	USACCESS_3
Streets and Sidewalks:	USACCESS_12
Transportation:	USACCESS_13
{% endcomment %}