<div class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
  <h4>Email Subscription</h4>
    <form action="https://public.govdelivery.com/accounts/USACCESS/subscribers/qualify" method="get" id="login-formTest">
      <fieldset>
        <legend>Sign up for news updates from the Access Board!</legend>
        <input name="topic_id" type="hidden" value="USACCESS_1">
        <input id="subscribe-email" title="Enter Email" name="email" size="25" type="text"> <br />
        <input name="commit" type="submit" value="Subscribe">
      </fieldset>
  </form>
</div>
