<h4>Technical Assistance</h4>
<p>If you have questions on these accessibility guidelines and standards call or email:</p>
<ul class="usa-list usa-list--unstyled padding-top-2">
  <li class="padding-bottom-1">800-872-2253 (voice)</li>
  <li class="padding-bottom-1">800-993-2822 (tty)</li>
  <li class="padding-bottom-1"><a href="mailto:ta@access-board.gov">ta@access-board.gov turn this into a link</a></li>
</ul>
<p><em>Technical assistance is available 10:00 – 5:00 <abbr title="Eastern Time">ET</abbr> weekdays except Wednesday.</em></p>