{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-12 usa-prose">
      <p>The U.S. Access Board is a federal agency that promotes equality for people with disabilities through
        leadership in accessible design and the development of accessibility guidelines and standards for the built
        environment, transportation, communication, medical diagnostic equipment, and information technology.</p>
    </div>
  </div>
</section>
