<h4 class="font-heading-3xs">Technical Assistance</h4>
<span class="font-body-3xs">If you have questions on PROWAG call or email:</span>
<ul class="usa-list usa-list--unstyled padding-top-1 font-body-3xs">
  <li class="padding-bottom-1">800-872-2253 (voice)</li>
  <li class="padding-bottom-1">800-993-2822 (tty)</li>
  <li class="padding-bottom-1"><a href="mailto:prowag@access-board.gov">prowag@access-board.gov</a></li>
</ul>
<p><em>Technical assistance is available:<br>10:00 – 5:00 <abbr title="Eastern Time">ET</abbr><br>weekdays.</em></p>
