---
layout: default
permalink: /about/board-members/
title: Access Board Members
---
{% include section-title.html %}
<div id="content" class="grid-container padding-top-3 maxw-desktop">
  <div class="grid-row">
    <div class="width-desktop usa-prose">
      <p style="max-width: none;">
        The Board is structured to function as a coordinating body among federal agencies and to directly represent the public, particularly people with disabilities. 
        Twelve members of the governing Board are representatives from most of the federal departments. 
        The other thirteen are comprised of members of the public appointed by the President to four-year terms. 
        Every year the Board elects officers, including a chair and vice-chair. 
        These posts alternate between a public and a federal member.
      </p>
      <p style="max-width: none;">
        Members of the public who wish to seek appointment to the U.S. Access Board (officially named the Architectural and Transportation Barriers Compliance Board) should
        visit <a href="https://www.whitehouse.gov/get-involved/join-us/">the White House website</a> for further information or contact the White House Office of Presidential Personnel.
      </p>
    </div>
  </div>
  {% assign p-members = site.board-members | where: "member", "public" | sort: "last-name" | downcase %}
  {% assign f-members = site.board-members | where: "member", "federal" | sort: "last-name" %}
  {% assign chairs = site.board-members | where: "chair","true" %}
  {% assign vice-chairs = site.board-members | where: "vice-chair","true" %}
  <div class="grid-row">
    <div class="grid-container padding-top-6 maxw-tablet">
      <ul class="usa-card-group">
        {% for chair in chairs %} 
        <li class="tablet:grid-col-6 usa-card">
          <a class="style-inherit" href="{{ site.baseurl }}/about/board-members/{{ chair.name }}">
            <div class="usa-card__container gray-to-color card-shadow">
              <header class="card-header">
                <h2 class="usa-card__heading">Chair</h2>
              </header>
              <div class="usa-card__body">
                <h3 class="text-center margin-y-0">{{ chair.full_name }}</h3>
                {% if chair.department %}
                <h4 class="text-center margin-y-0">{{ chair.department }}</h4>
                {% elsif chair.agency %}
                <h4 class="text-center margin-y-0">{{ chair.agency }}</h4>
                {% endif %}           
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img border-2px">
                  <img src="{{ site.baseurl }}{{ chair.image }}" alt="Profile picture of {{ chair.full_name }}">
                </div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}

        {% for vice-chair in vice-chairs %}
        <li class="tablet:grid-col-6 usa-card">
          <a class="style-inherit" href="{{ site.baseurl }}/about/board-members/{{ vice-chair.name }}">
            <div class="usa-card__container gray-to-color card-shadow">
              <header class="card-header">
                <h2 class="usa-card__heading">Vice-Chair</h2>
              </header>
              <div class="usa-card__body">
                <h3 class="text-center margin-y-0">{{ vice-chair.full_name }}</h3>
                {% if vice-chair.department %}
                <h4 class="text-center margin-y-0">{{ vice-chair.department }}</h4>
                {% endif %}           
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img border-2px">
                  <img src="{{ site.baseurl }}{{ vice-chair.image }}" alt="Profile picture of {{ vice-chair.full_name }}">
                </div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}  
      </ul>
    </div>
  </div>
  <br class="page-break">

  <div class="grid-row">
    <div class="grid-container">
      <h2>Public Members</h2>
      <ul class="usa-card-group">
      {% for member in p-members %}
      {% if member.status == "current" %}
        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/about/board-members/{{ member.name }}" class="style-inherit">
            <div class="usa-card__container gray-to-color card-shadow">            
              <div class="padding-1">
                <h3 class="card-name">{{ member.full_name }}</h3>
                  {% if member.department %}
                  <p class="card-text">{{ member.department }}</p>
                  {% endif %}
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img maxw-15 margin-x-auto border-2px">
                  <img src="{{ site.baseurl }}{{ member.image }}" alt="Profile photo of {{ member.full_name }}">
                </div>
              </div>
            </div>
          </a>
        </li>
        {% endif %} 
        {% endfor %}  
      </ul>
    </div>
  </div>

<br class="page-break">
  
  <div class="grid-row">
    <div class="grid-container">
      <h2>Federal Members</h2>
      <ul class="usa-card-group">
      {% for member in f-members %}
      {% if member.status == "current" %}
        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/about/board-members/{{ member.name }}" class="style-inherit">
            <div class="usa-card__container gray-to-color card-shadow">            
              <div class="padding-1">
                  <h3 class="card-name">{{ member.full_name }}</h3>
                  {% if member.agency %}
                  <p class="card-text">{{ member.agency }}</p>
                  {% endif %}
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img maxw-15 margin-x-auto border-2px">
                  <img src="{{ site.baseurl }}{{ member.image }}" alt="Profile photo of {{ member.full_name }}">
                </div>
              </div>
            </div>
          </a>
        </li>
        {% endif %} 
        {% endfor %}  
      </ul>
    </div>
  </div>

<!-- Add past member accordion here -->

</div>
