---
layout: default
permalink: /about/staff/
title: Access Board Staff
---
{% include section-title.html %}
<div id="content" class="grid-container padding-top-3 maxw-desktop">
  <div class="grid-row">
    <div class="width-desktop usa-prose">
      <p style="max-width: none;">
         [introductory paragraph about staff, etc.]
      </p>
      <p style="max-width: none;">
         [introductory paragraph about job openings?] <a href="https://www.usajobs.gov">USA jobs</a> for further information.
      </p>
    </div>
  </div>
  {% assign oa = site.staff | where: "office", "Office of Administration" | sort: "last-name" %}
  {% assign otis = site.staff | where: "office", "Office of Technical and Information Services" | sort: "last-name" %}
  {% assign ogc = site.staff | where: "office", "Office of General Counsel" | sort: "last-name" %}
  {% assign executive-director = site.staff | where: "executive-director", true %}
  {% assign directors = site.staff | where: "director", "Office of Administration" | sort: "last-name" %}
  {% assign directors = site.staff | where: "director", "Office of Technical and Information Services" | sort: "last-name" %}
  {% assign directors = site.staff | where: "director", "Office of General Counsel" | sort: "last-name" %}
  <div class="grid-row">
    <div class="grid-container padding-top-6 maxw-tablet">
      <ul class="usa-card-group">
        <li class="tablet:grid-col-6 usa-card">
          <a class="style-inherit" href="{{ site.baseurl }}/about/staff/{{ executive-director.name }}">
            <div class="usa-card__container gray-to-color card-shadow">
              <header class="card-header">
                <h2 class="usa-card__heading">Executive Director</h2>
              </header>
              <div class="usa-card__body">
                <h3 class="text-center margin-y-0">{{ executive-director.full_name }}</h3>
                <h4 class="text-center margin-y-0">{{ executive-director.agency }}</h4>            
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img">
                  <img src="{{ site.baseurl }}{{ executive-director.image }}" alt="Profile picture of {{ executive-director.full_name }}">
                </div>
              </div>
            </div>
          </a>
        </li>

  <br class="page-break">
        
  <div class="grid-row">
    <div class="grid-container padding-top-6 maxw-tablet">
      <ul class="usa-card-group">
        <li class="tablet:grid-col-6 usa-card">
          <a class="style-inherit" href="{{ site.baseurl }}/about/staff/{{ director.name }}">
            <div class="usa-card__container gray-to-color card-shadow">
              <header class="card-header">
                <h2 class="usa-card__heading">Director</h2>
              </header>
              <div class="usa-card__body">
                <h3 class="text-center margin-y-0">{{ director.full_name }}</h3>
                <h4 class="text-center margin-y-0">{{ director.agency }}</h4>  
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img">
                  <img src="{{ site.baseurl }}{{ director.image }}" alt="Profile picture of {{ director.full_name }}">
                </div>
              </div>
            </div>
          </a>
        </li>
        
  <br class="page-break">
              
  <div class="grid-row">
    <div class="grid-container">
      <h2>Office of Technical and Information Services</h2>
      <ul class="usa-card-group">
        <li class="tablet:grid-col-6 usa-card">
          <a href="{{ site.baseurl }}/about/staff/{{ person.name }}" class="style-inherit">
            <div class="usa-card__container gray-to-color card-shadow">            
              <div class="padding-1">
                <h3 class="card-name">{{ person.full_name }}</h3>
                  {% if person.job-title %}
                  <p class="card-text">{{ person.job-title }}</p>
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img maxw-15 margin-x-auto">
                  {% if person.image %}
                  <img src="{{ site.baseurl }}{{ person.image }}" alt="Profile photo of {{ person.full_name }}">
                  {% else %}
                  <img src="{{ site.baseurl }}/images/uploads/vacant.svg" alt="photo unavailable icon">
                </div>
              </div>
            </div>
          </a>
        </li>
   

<br class="page-break">
  
  <div class="grid-row">
    <div class="grid-container">
      <h2>Office of Administration</h2>
      <ul class="usa-card-group">
      {% if person.status == "current" %}
        <li class="tablet:grid-col-3 usa-card">
          <a href="{{ site.baseurl }}/about/staff/{{ person.name }}" class="style-inherit">
            <div class="usa-card__container gray-to-color card-shadow">            
              <div class="padding-1">
                  <h3 class="card-name">{{ person.full_name }}</h3>
                  {% if member.agency %}
                  <p class="card-text">{{ person.agency }}</p>
              </div>
              <div class="usa-card__media usa-card__media--inset">
                <div class="usa-card__img maxw-15 margin-x-auto">
                  <img src="{{ site.baseurl }}{{ person.image }}" alt="Profile photo of {{ person.full_name }}">
                </div>
              </div>
            </div>
          </a>
        </li>

<!-- Add past member accordion here -->

</div>
