---
layout: default
permalink: /about/staff/
title: Access Board Staff
---
{% include section-title.html %}
<div id="content" class="grid-container padding-top-3 maxw-desktop">
  <div class="grid-row">
    <div class="width-desktop usa-prose">
      <p style="max-width: none;">
         [introductory paragraph about staff, etc.]
      </p>
      <p style="max-width: none;">
         [introductory paragraph about job openings?] <a href="https://www.usajobs.gov">USA jobs</a> for further information.
      </p>
    </div>
  </div>
  {% assign otis = site.staff | where: "office", "Office of Technical and Information Services" | sort: "last_name" %}
  {% assign oa = site.staff | where: "office", "Office of Administration" | sort: "last_name" %}
  {% assign ogc = site.staff | where: "office", "Office of General Counsel" | sort: "last_name" %}
  {% assign oed = site.staff | where: "office", "Office of Executive Director" | sort: "last_name" %}

  <div class="grid-row">
    {% for person in otis %}
    {% if person.director == true %}
    <h3 class="site-preview-heading">{{ person.office }}</h3>
      <ul class="usa-card-group">
        <li class="tablet:grid-col-6 usa-card usa-card--flag">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading">{{ person.full_name }}</h2>
            </header>
            <div class="usa-card__media">
              <div class="usa-card__img">
                {% if person.image %}
                <img src="{{ site.baseurl }}{{ person.image }}" alt="Profile photo of {{ person.full_name }}">
                {% else %}
                <img src="{{ site.baseurl }}/images/uploads/vacant.svg" alt="photo unavailable icon">
                {% endif %}
              </div>
            </div>
            <div class="usa-card__body">
              <p>{{ person.job-title }}</p>
            </div>
          </div>
        </li>
      </ul>
    {% endif %}
  {% endfor %}
  </div>
  <div class="grid-row">
    <ul class="usa-card-group">
    {% for person in otis %}
      {% if person.director != true %}
      <li class="tablet:grid-col-3 usa-card">
        <a href="{{ site.baseurl }}/about/board-members/{{ person.name }}" class="style-inherit">
          <div class="usa-card__container gray-to-color card-shadow">            
            <div class="padding-1">
              <h3 class="card-name">{{ person.full_name }}</h3>
                {% if person.job-title %}
                <p class="card-text">{{ person.job-title }}</p>
                {% endif %}
            </div>
            <div class="usa-card__media usa-card__media--inset">
              <div class="usa-card__img maxw-15 margin-x-auto">
                {% if person.image %}
                <img src="{{ site.baseurl }}{{ person.image }}" alt="Profile photo of {{ person.full_name }}">
                {% else %}
                <img src="{{ site.baseurl }}/images/uploads/vacant.svg" alt="photo unavailable icon">
                {% endif %}
              </div>
            </div>
          </div>
        </a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>

  </div>



</div>
