<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>36 CFR Part 1190</title>
</head>
<body>
	<h1>
		36 CFR Part 1190 &mdash; Accessibility Guidelines for Pedestrian Facilities in the Public Right-of-Way
	</h1>
	<p>
		Sec. 1190.1 Accessibility Guidelines.
	</p>
	<h2>
		Appendix to Part 1190
	</h2>
	<p>
		<strong>Authority:</strong>&nbsp; 29 U.S.C. 792; 42 U.S.C. 12204; 42 U.S.C. 4151 <cite>et seq.</cite>
	</p>
	<p> {{ site.baseulr </p>
{% include_relative appendix.md %}
{% include_relative application.md %}
{% include_relative scoping.md %}
{% include_relative technical.md %}
{% include_relative supplemental.md %}
</body>
</html>
