---
title: "Chapter 3: Building Blocks"
toc-group: aba-standards
order-number: 5
version: original
---

<div itemprop="articleBody">
  <h3 id="a301"><a name="301 General"></a>301 General</h3>
  <p id="a3011">301.1 Scope.&nbsp; The provisions of Chapter 3 shall apply where required by Chapter 2 or where referenced by a requirement in this document.</p>
  <h3 id="a301"><a name="302 Floor or Ground Surfaces"></a>302 Floor or Ground Surfaces</h3>
  <p id="a3021">302.1 General.&nbsp; Floor and ground surfaces shall be stable, firm, and slip resistant and shall comply with 302.</p>
  <p>EXCEPTIONS:&nbsp; 1.&nbsp; Within animal containment areas, floor and ground surfaces shall not be required to be stable, firm, and slip resistant.</p>
  <p>2.&nbsp; Areas of sport activity shall not be required to comply with 302.</p>
  <p class="advisory">Advisory 302.1 General.&nbsp; A stable surface is one that remains unchanged by contaminants or applied force, so that when the contaminant or force is removed, the surface returns to its original condition.&nbsp; A firm surface resists deformation by either indentations or particles moving on its surface.&nbsp; A slip-resistant surface provides sufficient frictional counterforce to the forces exerted in walking to permit safe ambulation.</p>
  <p id="a3022">302.2 Carpet.&nbsp; Carpet or carpet tile shall be securely attached and shall have a firm cushion, pad, or backing or no cushion or pad.&nbsp; Carpet or carpet tile shall have a level loop, textured loop, level cut pile, or level cut/uncut pile texture.&nbsp; Pile height shall be ½ inch (13 mm) maximum.&nbsp; Exposed edges of carpet shall be fastened to floor surfaces and shall have trim on the entire length of the exposed edge.&nbsp; Carpet edge trim shall comply with 303.</p>
  <p class="advisory">Advisory 302.2 Carpet.&nbsp; Carpets and permanently affixed mats can significantly increase the amount of force (roll resistance) needed to propel a wheelchair over a surface. The firmer the carpeting and backing, the lower the roll resistance.&nbsp; A pile thickness up to ½ inch (13 mm) (measured to the backing, cushion, or pad) is allowed, although a lower pile provides easier wheelchair maneuvering.&nbsp; If a backing, cushion or pad is used, it must be firm.&nbsp; Preferably, carpet pad should not be used because the soft padding increases roll resistance.</p>
  {% include_cached figure-caption.html
      text= "Figure 302.2 Carpet Pile Height"
      img-file= "ADA-AB2.gif"
      img-alt= "Carpet is shown in cross section with a pile height of ½ inch (13 mm) maximum, measured from the backing."
  %}

  <p id="a3023">302.3 Openings.&nbsp; Openings in floor or ground surfaces shall not allow passage of a sphere more than ½ inch (13 mm) diameter except as allowed in 407.4.3, 409.4.3, 410.4, 810.5.3 and 810.10.&nbsp; Elongated openings shall be placed so that the long dimension is perpendicular to the dominant direction of travel.</p>
  {% include_cached figure-caption.html
      text= "Figure 302.3 Elongated Openings in Floor or Ground Surfaces"
      img-file= "ADA-AB3.gif"
      img-alt= "Elongated openings, such as in a grating, are shown in plan view with openings ½ inch (13 mm) maximum in one dimension.  The other dimension is longer (unspecified) and is perpendicular to the dominant direction of travel."
      %}

  <h3 id="a303"><a name="303 Changes in Level"></a>303 Changes in Level</h3>
  <p id="a3031">303.1 General.&nbsp; Where changes in level are permitted in floor or ground surfaces, they shall comply with 303.</p>
  <p>EXCEPTIONS:&nbsp; 1.&nbsp; Animal containment areas shall not be required to comply with 303.</p>
  <p>2.&nbsp; Areas of sport activity shall not be required to comply with 303.</p>
  <p id="a3032">303.2 Vertical.&nbsp; Changes in level of ¼ inch (6.4 mm) high maximum shall be permitted to be vertical.</p>
  {% include_cached figure-caption.html
                  text= "Figure 303.2 Vertical Change in Level"
                  img-file= "ADA-AB4.gif"
                  img-alt= "Elevation drawing of a change in level between the surfaces of two parallel planes with a vertical edge that is ¼ inch (6.4 mm) high maximum."
  %}

  <p id="a3033">303.3 Beveled.&nbsp; Changes in level between ¼ inch (6.4 mm) high minimum and ½ inch (13 mm) high maximum shall be beveled with a slope not steeper than 1:2.</p>
  <p class="advisory">Advisory 303.3 Beveled.&nbsp; A change in level of ½ inch (13 mm) is permitted to be ¼ inch (6.4 mm) vertical plus ¼ inch (6.4 mm) beveled.&nbsp; However, in no case may the combined change in level exceed ½ inch (13 mm).&nbsp; Changes in level exceeding ½ inch (13 mm) must comply with 405 (Ramps) or 406 (Curb Ramps).</p>
  {% include_cached figure-caption.html
      text= "Figure 303.3 Beveled Change in Level"
      img-file= "ADA-AB5.gif"
      img-alt= "Elevation drawing of a change in level ¼ to ½ inches (6.4 - 13 mm) high that is beveled with a slope of 1:2."
  %}

  <p id="a3034">303.4 Ramps.&nbsp; Changes in level greater than ½ inch (13 mm) high shall be ramped, and shall comply with 405 or 406.</p>
  <h3 id="a301"><a name="304 Turning Space"></a>304 Turning Space</h3>
  <p id="a3041">304.1 General.&nbsp; Turning space shall comply with 304.</p>
  <p id="a3042">304.2 Floor or Ground Surfaces.&nbsp; Floor or ground surfaces of a turning space shall comply with 302. Changes in level are not permitted.</p>
  <p>EXCEPTION:&nbsp; Slopes not steeper than 1:48 shall be permitted.</p>
  <p class="advisory">Advisory 304.2 Floor or Ground Surface Exception.&nbsp; As used in this section, the phrase “changes in level” refers to surfaces with slopes and to surfaces with abrupt rise exceeding that permitted in Section 303.3.&nbsp; Such changes in level are prohibited in required clear floor and ground spaces, turning spaces, and in similar spaces where people using wheelchairs and other mobility devices must park their mobility aids such as in wheelchair spaces, or maneuver to use elements such as at doors, fixtures, and telephones.&nbsp; The exception permits slopes not steeper than 1:48.</p>
  <p id="a3043">304.3 Size.&nbsp; Turning space shall comply with 304.3.1 or 304.3.2.</p>
  <p id="a30431">304.3.1 Circular Space.&nbsp; The turning space shall be a space of 60 inches (1525 mm) diameter minimum.&nbsp; The space shall be permitted to include knee and toe clearance complying with 306.</p>
  <p id="a30432">304.3.2 T-Shaped Space.&nbsp; The turning space shall be a T-shaped space within a 60 inch (1525 mm) square minimum with arms and base 36 inches (915 mm) wide minimum.&nbsp; Each arm of the T shall be clear of obstructions 12 inches (305 mm) minimum in each direction and the base shall be clear of obstructions 24 inches (610 mm) minimum.&nbsp; The space shall be permitted to include knee and toe clearance complying with 306 only at the end of either the base or one arm.</p>
  {% include_cached figure-caption.html
      text= "Figure 304.3.2 T-Shaped Turning Space"
      img-file= "ADA-AB6.gif"
      img-alt= "The T shape space is 36 inches (915 mm) wide at the top and stem within a 60 inch by 60 inch (1525 mm by 1525 mm) square."
  %}

  <p id="a3044">304.4 Door Swing.&nbsp; Doors shall be permitted to swing into turning spaces.</p>
  <h3 id="a301"><a name="305 Clear Floor or Ground Space"></a>305 Clear Floor or Ground Space</h3>
  <p id="a3051">305.1 General.&nbsp; Clear floor or ground space shall comply with 305.</p>
  <p id="a3052">305.2 Floor or Ground Surfaces.&nbsp; Floor or ground surfaces of a clear floor or ground space shall comply with 302. Changes in level are not permitted.</p>
  <p>EXCEPTION:&nbsp; Slopes not steeper than 1:48 shall be permitted.</p>
  <p id="a3053">305.3 Size.&nbsp; The clear floor or ground space shall be 30 inches (760 mm) minimum by 48 inches (1220 mm) minimum.</p>
  {% include_cached figure-caption.html
      text= "Figure 305.3 Clear Floor or Ground Space"
      img-file= "ADA-AB7.gif"
      img-alt= "Clear floor or ground space is 30 inches by 48 inches (760 mm by 1220 mm) minimum."
  %}

  <p id="a3054">305.4 Knee and Toe Clearance.&nbsp; Unless otherwise specified, clear floor or ground space shall be permitted to include knee and toe clearance complying with 306.</p>
  <p id="a3055">305.5 Position.&nbsp; Unless otherwise specified, clear floor or ground space shall be positioned for either forward or parallel approach to an element.</p>
  {% include_cached figure-caption.html
      text= "Figure 305.5 Position of Clear Floor or Ground Space"
      img-file= "ADA-AB8.gif"
      img-alt= "For a forward approach to an element, a clear floor or ground space, 30 inches by 48 inches (760 mm by 1220 mm) minimum, is shown with the shorter dimension parallel to the wall or element. For a parallel approach to an element, a clear floor or ground space, 30 inches by 48 inches (760 mm by 1220 mm) minimum, is shown with the longer dimension parallel to the wall or element."
      %}

  <p id="a3056">305.6 Approach.&nbsp; One full unobstructed side of the clear floor or ground space shall adjoin an <cite title="A site, building, facility, or portion thereof that complies with this part.">accessible</cite> route or adjoin another clear floor or ground space.</p>
  <p id="a3057">305.7 Maneuvering Clearance.&nbsp; Where a clear floor or ground space is located in an alcove or otherwise confined on all or part of three sides, additional maneuvering clearance shall be provided in accordance with 305.7.1 and 305.7.2.</p>
  <p id="a30571">305.7.1 Forward Approach.&nbsp; Alcoves shall be 36 inches (915 mm)wide minimum where the depth exceeds 24 inches (610 mm).</p>
  {% include_cached figure-caption.html
                  text= "Figure 305.7.1 Maneuvering Clearance in an Alcove, Forward Approach"
                  img-file= "ADA-AB9.gif"
                  img-alt= "For a forward approach, if the depth of the alcove is greater than 24 inches (610 mm), the clear floor or ground space within the alcove must be 36 inches (915 mm) wide minimum."
  %}

  <p id="a30572">305.7.2 Parallel Approach.&nbsp; Alcoves shall be 60 inches (1525 mm) wide minimum where the depth exceeds 15 inches (380 mm).</p>
  {% include_cached figure-caption.html
      text= "Figure 305.7.2 Maneuvering Clearance in an Alcove, Parallel Approach"
      img-file= "ADA-AB10.gif"
      img-alt= "For a parallel approach, if the depth of the alcove is greater than 15 inches (380 mm), then the length of the clear floor or ground space within the alcove must be 60 inches (1525 mm) minimum."
      %}

  <h3 id="a301"><a name="306 Knee and Toe Clearance"></a>306 Knee and Toe Clearance</h3>
  <p id="a3061">306.1 General.&nbsp; Where space beneath an element is included as part of clear floor or ground space or turning space, the space shall comply with 306.&nbsp; Additional space shall not be prohibited beneath an element but shall not be considered as part of the clear floor or ground space or turning space.</p>
  <p class="advisory">Advisory 306.1 General.&nbsp; Clearances are measured in relation to the usable clear floor space, not necessarily to the vertical support for an element.&nbsp; When determining clearance under an object for required turning or maneuvering space, care should be taken to ensure the space is clear of any obstructions.</p>
  <p id="a3062">306.2 Toe Clearance.</p>
  <p id="a30621">306.2.1 General.&nbsp; Space under an element between the finish floor or ground and 9 inches (230 mm) above the finish floor or ground shall be considered toe clearance and shall comply with 306.2.</p>
  <p id="a30622">306.2.2 Maximum Depth.&nbsp; Toe clearance shall extend 25 inches (635 mm) maximum under an element.</p>
  <p id="a30623">306.2.3 Minimum Required Depth.&nbsp; Where toe clearance is required at an element as part of a clear floor space, the toe clearance shall extend 17 inches (430 mm) minimum under the element.</p>
  <p id="a30624">306.2.4 Additional Clearance.&nbsp; Space extending greater than 6 inches (150 mm) beyond the available knee clearance at 9 inches (230 mm) above the finish floor or ground shall not be considered toe clearance.</p>
  <p id="a30625">306.2.5 Width.&nbsp; Toe clearance shall be 30 inches (760 mm) wide minimum.</p>
  {% include_cached figure-caption.html
                  text= "Figure 306.2 Toe Clearance"
                  img-file= "ADA-AB11.gif"
                  img-alt= "Figure 306.2(a) Toe Clearance: Elevation.  Toes of a person in a wheelchair are shown extending for a maximum depth of 6 inches (150 mm) under an object that is 9 inches (230 mm) high minimum.  Figure 306.2(b) Toe Clearance: Plan.  Toe clearance at an element, as part of clear floor space, shall extend 17 to 25 inches (430 to 635 mm) under the element.  The clear floor space is 30 inches (760 mm) wide minimum."
                  %}

  <p id="a3063">306.3 Knee Clearance.</p>
  <p id="a30631">306.3.1 General.&nbsp; Space under an element between 9 inches (230 mm) and 27 inches (685 mm) above the finish floor or ground shall be considered knee clearance and shall comply with 306.3.</p>
  <p id="a30632">306.3.2 Maximum Depth.&nbsp; Knee clearance shall extend 25 inches (635 mm) maximum under an element at 9 inches (230 mm) above the finish floor or ground.</p>
  <p id="a30633">306.3.3 Minimum Required Depth.&nbsp; Where knee clearance is required under an element as part of a clear floor space, the knee clearance shall be 11 inches (280 mm) deep minimum at 9 inches (230 mm) above the finish floor or ground, and 8 inches (205 mm) deep minimum at 27 inches (685 mm) above the finish floor or ground.</p>
  <p id="a30634">306.3.4 Clearance Reduction.&nbsp; Between 9 inches (230 mm) and 27 inches (685 mm) above the finish floor or ground, the knee clearance shall be permitted to reduce at a rate of 1 inch (25 mm) in depth for each 6 inches (150 mm) in height.</p>
  <p id="a30635">306.3.5 Width.&nbsp; Knee clearance shall be 30 inches (760 mm) wide minimum.</p>
  {% include_cached figure-caption.html
                  text= "Figure 306.3 Knee Clearance"
                  img-file= "ADA-AB12.gif"
                  img-alt= "Figure 306.3(a) Knee Clearance: Elevation. Knee clearance is 27 inches (685 mm) high minimum above the floor or ground for a minimum depth of 8 inches (205 mm), measured from the leading edge of the element.  The vertical clearance decreases beyond this depth to a height of 9 inches (230 mm) minimum at depth of 11 inches (280 mm) minimum measured from the leading edge of the element.  Figure 306.3(b) Knee Clearance: Plan.  Combined knee and toe clearance can extend 25 inches (635 mm) maximum under an element."
                  %}

  <h3 id="a301"><a name="307 Protruding Objects"></a>307 Protruding Objects</h3>
  <p id="a3071">307.1 General.&nbsp; Protruding objects shall comply with 307.</p>
  <p id="a3072">307.2 Protrusion Limits.&nbsp; Objects with leading edges more than 27 inches (685 mm) and not more than 80 inches (2030 mm) above the finish floor or ground shall protrude 4 inches (100 mm) maximum horizontally into the circulation path.</p>
  <p>EXCEPTION:&nbsp; Handrails shall be permitted to protrude 4½ inches (115 mm) maximum.</p>
  <p class="advisory">Advisory 307.2 Protrusion Limits.&nbsp; When a cane is used and the element is in the detectable range, it gives a person sufficient time to detect the element with the cane before there is body contact.&nbsp; Elements located on circulation paths, including operable elements, must comply with requirements for protruding objects.&nbsp; For example, awnings and their supporting structures cannot reduce the minimum required vertical clearance.&nbsp; Similarly, casement windows, when open, cannot encroach more than 4 inches (100 mm) into circulation paths above 27 inches (685 mm).</p>
  {% include_cached figure-caption.html
                  text= "Figure 307.2 Limits of Protruding Objects"
                  img-file= "ADA-AB13.gif"
                  img-alt= "A frontal view shows a person using a cane walking along a wall.  A wall-mounted object more than 27 inches (685 mm) from the floor protrudes no more than 4 inches (100 mm) from the wall surface.  An object overhead provides vertical clearance that is greater than 80 inches (2030 mm)."
                  %}

  <p id="a3073">307.3 Post-Mounted Objects.&nbsp; Free-standing objects mounted on posts or pylons shall overhang circulation paths 12 inches (305 mm) maximum when located 27 inches (685 mm) minimum and 80 inches (2030 mm) maximum above the finish floor or ground.&nbsp; Where a sign or other obstruction is mounted between posts or pylons and the clear distance between the posts or pylons is greater than 12 inches (305 mm), the lowest edge of such sign or obstruction shall be 27 inches (685 mm) maximum or 80 inches (2030 mm) minimum above the finish floor or ground.</p>
  <p>EXCEPTION:&nbsp; The sloping portions of handrails serving stairs and ramps shall not be required to comply with 307.3.</p>
  {% include_cached figure-caption.html
                  text= "Figure 307.3 Post-Mounted Protruding Objects"
                  img-file= "ADA-AB14.gif"
                  img-alt= "Elevation drawing (a) shows an object mounted more than 27 inches (685 mm) high on a post.  The object protrudes 12 inches (305 mm) maximum from the post on both sides.  Elevation (b) shows signs or other obstructions mounted between posts or pylons.  One object has its lowest edge mounted 27 inches (685 mm) high maximum between posts that are more than 12 inches apart.  Another object is mounted with its lowest edge 80 inches (2030 mm) high minimum between posts that are more than 12 inches apart."
                  %}

  <p id="a3074">307.4 Vertical Clearance.&nbsp; Vertical clearance shall be 80 inches (2030 mm) high minimum.&nbsp; Guardrails or other barriers shall be provided where the vertical clearance is less than 80 inches (2030 mm) high.&nbsp; The leading edge of such guardrail or barrier shall be located 27 inches (685 mm) maximum above the finish floor or ground.</p>
  <p>EXCEPTION:&nbsp; Door closers and door stops shall be permitted to be 78 inches (1980 mm) minimum above the finish floor or ground.</p>
  {% include_cached figure-caption.html
                  text= "Figure 307.4 Vertical Clearance"
                  img-file= "ADA-AB15.gif"
                  img-alt= "A person using a long cane is shown approaching the sloped underside of a staircase.  A portion of the area below the stairs in front of the person has a vertical clearance less than 80 inches (2030 mm).  A railing 27 inches (685 mm) high maximum separates this space from the areas where a vertical clearance at or above 80 inches (2030 mm) is maintained."
                  %}

  <p id="a3075">307.5 Required Clear Width.&nbsp; Protruding objects shall not reduce the clear width required for <cite title="A site, building, facility, or portion thereof that complies with this part.">accessible</cite> routes.</p>
  <h3 id="a301"><a name="308 Reach Ranges"></a>308 Reach Ranges</h3>
  <p id="a3081">308.1 General.&nbsp; Reach ranges shall comply with 308.</p>
  <div class="advisory">
  <p class="first">Advisory 308.1 General.&nbsp; The following table provides guidance on reach ranges for children according to age where building elements such as coat hooks, lockers, or operable parts are designed for use primarily by children.&nbsp; These dimensions apply to either forward or side reaches.&nbsp; Accessible elements and operable parts designed for adult use or children over age 12 can be located outside these ranges but must be within the adult reach ranges required by 308.</p>
  <table class="data"><caption>Children’s Reach Ranges</caption>
  <thead>
  <tr><th scope="col">Forward or Side Reach</th><th scope="col">Ages 3 and 4</th><th scope="col">Ages 5 through 8</th><th scope="col">Ages 9 through 12</th></tr>
  </thead>
  <tbody>
  <tr>
  <td scope="row">High (maximum)</td>
  <td>36 in (915 mm)</td>
  <td>40 in (1015 mm)</td>
  <td>44 in (1120 mm)</td>
  </tr>
  <tr>
  <td scope="row">Low (minimum)</td>
  <td>20 in (510 mm)</td>
  <td>18 in (455 mm)</td>
  <td>16 in (405 mm)</td>
  </tr>
  </tbody>
  </table>
  </div>
  <p id="a3082">308.2 Forward Reach.</p>
  <p id="a30821">308.2.1 Unobstructed.&nbsp; Where a forward reach is unobstructed, the high forward reach shall be 48 inches (1220 mm) maximum and the low forward reach shall be 15 inches (380 mm) minimum above the finish floor or ground.</p>
  {% include_cached figure-caption.html
                  text= "Figure 308.2.1 Unobstructed Forward Reach"
                  img-file= "ADA-AB16.gif"
                  img-alt= "A side view is shown of a person using a wheelchair reaching toward a wall.  The lowest vertical reach point is 15 inches (380 mm) minimum and the highest is 48 inches (1220 mm) maximum."
                  %}

  <p id="a30822">308.2.2 Obstructed High Reach.&nbsp; Where a high forward reach is over an obstruction, the clear floor space shall extend beneath the element for a distance not less than the required reach depth over the obstruction.&nbsp; The high forward reach shall be 48 inches (1220 mm) maximum where the reach depth is 20 inches (510 mm) maximum.&nbsp; Where the reach depth exceeds 20 inches (510 mm), the high forward reach shall be 44 inches (1120 mm) maximum and the reach depth shall be 25 inches (635 mm) maximum.</p>
  {% include_cached figure-caption.html
                  text= "Figure 308.2.2 Obstructed High Forward Reach"
                  img-file= "ADA-AB17.gif"
                  img-alt= "Figure (a) shows a person seated in a wheelchair reaching a point on a wall above a protrusion, such as a wall-mounted counter, which is 20 inches (510 mm) deep maximum.  The maximum reach height is 48 inches (1220 mm).  In figure (b), the obstruction is more than 20 inches (510 mm) deep, with 25 inches (635 mm) the maximum depth.  The maximum reach height is 44 inches (1120 mm)."
                  %}

  <p id="a3083">308.3 Side Reach.</p>
  <p id="a30831">308.3.1 Unobstructed.&nbsp; Where a clear floor or ground space allows a parallel approach to an element and the side reach is unobstructed, the high side reach shall be 48 inches (1220 mm) maximum and the low side reach shall be 15 inches (380 mm) minimum above the finish floor or ground.</p>
  <p>EXCEPTIONS:&nbsp; 1.&nbsp; An obstruction shall be permitted between the clear floor or ground space and the element where the depth of the obstruction is 10 inches (255 mm) maximum.</p>
  <p>2.&nbsp; Operable parts of fuel dispensers shall be permitted to be 54 inches (1370 mm) maximum measured from the surface of the vehicular way where fuel dispensers are installed on existing curbs.</p>
  {% include_cached figure-caption.html
      text= "Figure 308.3.1 Unobstructed Side Reach"
      img-file= "ADA-AB18.gif"
      img-alt= "The drawing shows a frontal view of a person using a wheelchair making a side reach to a wall.  The depth of reach is 10 inches (255 mm) maximum.  The vertical reach range is 15 inches (380 mm) minimum to 48 inches (1220 mm) maximum."
      %}

  <p id="a30832">308.3.2 Obstructed High Reach.&nbsp; Where a clear floor or ground space allows a parallel approach to an element and the high side reach is over an obstruction, the height of the obstruction shall be 34 inches (865 mm) maximum and the depth of the obstruction shall be 24 inches (610 mm) maximum.&nbsp; The high side reach shall be 48 inches (1220 mm) maximum for a reach depth of 10 inches (255 mm) maximum.&nbsp; Where the reach depth exceeds 10 inches (255 mm), the high side reach shall be 46 inches (1170 mm) maximum for a reach depth of 24 inches (610 mm) maximum.</p>
  <p>EXCEPTIONS:&nbsp; 1.&nbsp; The top of washing machines and clothes dryers shall be permitted to be 36 inches (915 mm) maximum above the finish floor.</p>
  <p>2.&nbsp; Operable parts of fuel dispensers shall be permitted to be 54 inches (1370 mm) maximum measured from the surface of the vehicular way where fuel dispensers are installed on existing curbs.</p>
  {% include_cached figure-caption.html
                  text= "Figure 308.3.2 Obstructed High Side Reach"
                  img-file= "ADA-AB19.gif"
                  img-alt= "In figure (a), a person seated in a wheelchair is shown reaching to the side over an obstruction 10 inches (510 mm) deep maximum and 34 inches (865 mm) high maximum.   The maximum reach height is 48 inches (1220 mm).  In figure (b) the obstruction depth is 10 inches to 24 inches maximum (255 to 610 mm) and 34 inches (865 mm) high maximum.  The maximum reach height is 46 inches (1170 mm)."
                  %}

  <h3 id="a309"><a name="309 Operable Parts"></a>309 Operable Parts</h3>
  <p id="a3091">309.1 General.&nbsp; Operable parts shall comply with 309.</p>
  <p id="a3092">309.2 Clear Floor Space.&nbsp; A clear floor or ground space complying with 305 shall be provided.</p>
  <p id="a3093">309.3 Height.&nbsp; Operable parts shall be placed within one or more of the reach ranges specified in 308.</p>
  <p id="a3094">309.4 Operation.&nbsp; Operable parts shall be operable with one hand and shall not require tight grasping, pinching, or twisting of the wrist.&nbsp; The force required to activate operable parts shall be 5 pounds (22.2 N) maximum.</p>
  <p>EXCEPTION:&nbsp; Gas pump nozzles shall not be required to provide operable parts that have an activating force of 5 pounds (22.2 N) maximum.</p>	</div>
