---
layout: page
sidenav: true
permalink: /about/board-members/
---
{% comment %}
not being used
{% endcomment %}

<div id="blog" class="bg-primary-darker usa-content font-serif-lg padding-y-3">
  <div class="grid-container maxw-desktop">
    <h1 class="text-normal text-white margin-0">Board Members</h1>
  </div>
</div>
<div class="grid-container padding-top-3">
  <div class="grid-row">
    <div>
      <p>The Board is structured to function as a coordinating body among federal agencies and to directly represent the public, particularly people with disabilities.  Twelve members of the governing Board are representatives from most of the federal departments.  The other thirteen are comprised of members of the public appointed by the President to four-year terms.  Every year the Board elects officers, including a chair and vice-chair.  These posts alternate between a public and a federal member.</p>
      <p>Members of the public who wish to seek appointment to the Access Board should contact the White House Office of Presidential Personnel at (202) 456-9713 or visit the White House website.</p>
    </div>
 
  </div>
  {% assign p-members = site.board-members | where: "member", "public" | sort: "last-name" %}
  {% assign f-members = site.board-members | where: "member", "federal" %}
  {% assign chairs = site.board-members | where: "chair","true" %}
  {% assign vice-chairs = site.board-members | where: "vice-chair","true" %}
  <div class="grid-row">
    <div class="grid-container padding-top-6 maxw-mobile-lg">
      <ul class="usa-card-group">
        {% for chair in chairs %} 
        <li class="tablet:grid-col-6 usa-card">
          <div class="usa-card__container gray-to-color">
            <header class="card-header">
              <h2 class="usa-card__heading">Chair</h2>
            </header>
            <div class="usa-card__body">
              <h3 class="text-center margin-y-0">{{ chair.full_name }}</h3>
              {% if chair.agency %}
              <h4 class="text-center margin-y-0">{{ chair.agency }}</h4>
              {% endif %}           
            </div>
            <div class="usa-card__media">
              <div class="usa-card__img">
                <img src="{{ chair.image }}" alt="Profile picture of {{ chair.full_name }}">
              </div>
            </div>
            <div class="usa-card__footer margin-x-auto">
              <a href="{{ site.baseurl }}/about/board-members/{{ chair.name }}"><button class="usa-button">Biography</button></a>
            </div>
          </div>
        </li>
        {% endfor %}  

        {% for vice-chair in vice-chairs %}
        <li class="tablet:grid-col-6 usa-card">
          <div class="usa-card__container gray-to-color">
            <header class="card-header">
              <h2 class="usa-card__heading">Vice-Chair</h2>
            </header>
            <div class="usa-card__body">
              <h3 class="text-center margin-y-0">{{ vice-chair.full_name }}</h3>
              {% if vice-chair.agency %}
              <h4 class="text-center margin-y-0">{{ vice-chair.agency }}</h4>
              {% endif %}           
            </div>
            <div class="usa-card__media">
              <div class="usa-card__img">
                <img src="{{ vice-chair.image }}" alt="Profile picture of {{ vice-chair.full_name }}">
              </div>
            </div>
            <div class="usa-card__footer margin-x-auto">
              <a href="{{ site.baseurl }}/about/board-members/{{ vice-chair.name }}"><button class="usa-button">Biography</button></a>
            </div>
          </div>
        </li>
        {% endfor %}  
      </ul>
    </div>
  </div>  

  <br class="page-break">

  <div class="grid-row">
    <div class="grid-container">
      <h2>Public Members</h2>
      <ul class="usa-card-group">
      {% for member in p-members %}
      {% if member.status == "current" %}
        <li class="tablet:grid-col-6 usa-card usa-card--flag">
          <a href="{{ site.baseurl }}/about/board-members/{{ member.name }}" class="style-inherit">
          <div class="usa-card__container gray-to-color">            
            <header class="margin-left-15 minh-15 padding-top-6 padding-bottom-3">                <h3 class="card-name">{{ member.full_name }}</h3>
                {% if member.agency %}
                <p class="card-text">{{ member.agency }}</p>
                {% endif %}
            </header>
            <div class="usa-card__media maxw-15">
              <div class="usa-card__img">
                <img src="{{ member.image }}" alt="Profile picture of {{ member.full_name }}">
              </div>
            </div>
          </div>
        </a>
        </li>
        {% endif %} 
        {% endfor %}  
      </ul>
    </div>
  </div>

<br class="page-break">
  
  <div class="grid-row">
    <div class="grid-container">
      <h2>Federal Members</h2>
      <ul class="usa-card-group">
      {% for member in f-members %}
      {% if member.status == "current" %}
        <li class="tablet:grid-col-3 usa-card">
          <div class="usa-card__container gray-to-color">            
            <div class="padding-1">
              <a href="{{ site.baseurl }}/about/board-members/{{ member.name }}" class="style-inherit">
                <h3 class="card-name">{{ member.full_name }}</h3>
                {% if member.agency %}
                <p class="card-text">{{ member.agency }}</p>
                {% endif %}
              </a>
            </div>
            <div class="usa-card__media">
              <div class="usa-card__img margin-x-auto">
                <a href="{{ site.baseurl }}/about/board-members/{{ member.name }}" class="style-inherit">
                  <img src="{{ member.image }}" alt="Profile picture of {{ member.full_name }}">
                </a>
              </div>
            </div>
          </div>
        </li>
        {% endif %} 
        {% endfor %}  
      </ul>
    </div>
  </div>

<!-- Add past member accordion here -->

</div>
