---
layout: base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
BB 6-10-2020:  moved the class assignment from the inner div on <main> to the actual <main> element per uswds email 6-9.
  Also deleted inner div.
{% endcomment %}

<div id="main-content" class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      {% if page.sidenav == true %}
      {% include sidenav.html %}
      {% endif %}
      <main class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
            {{ content }}
      </main>
    </div>
  </div>
</div>
