---
layout: base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}
<div id="section-title" class="bg-primary-darker usa-content font-serif-md padding-y-2">
  <div class="grid-container text-center maxw-desktop">
    <h1 class="text-normal text-white margin-0">
      {% if page.banner-title %}
        {{ page.banner-title }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>
    {% if page.banner-subtitle %}
    <h3 class="text-italic text-white margin-0 padding-top-1">{{ page.banner-subtitle }}</h3>
    {% endif %}
  </div>
</div>

<div class="usa-layout-docs usa-section">
  <div class="grid-container maxw-desktop">
    <div class="grid-row grid-gap">
      {% if page.toc %}
      {% include {{ page.toc }} %}
      {% endif %}
      <main id="main-content"class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <div  id="content">
          
            {{ content }}
          
        </div>
      </main>
    </div>
  </div>
</div>