---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

<div class="grid-container usa-section maxw-desktop">
  <div class="grid-row">
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
      <h1 class="title">{{page.title}}</h1>
      <div class="text-base margin-bottom-2">
        
        {% comment %}
        Removed per Dave's request
        <div class="margin-top-neg-105">
          By
          {% for author in page.authors %}
            {% include author-link.html author=author %}
          {% endfor %}
          · {{ page.date | date: '%B %d, %Y' }}
        </div>
        {% endcomment %}


      </div>
      {{ content }}
    </div>
    <aside class="desktop:grid-col-fill margin-top-4 padding-right-4">
      {%- if post.webinar == true -%}
        {%- include sidenav-webinars.html -%}
      {%- else -%}
        {%- include sidenav-posts.html -%}
      {%- endif -%}     
    </aside>
  </div>
</div>