---
layout: default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}
<div class="grid-container usa-section maxw-desktop">
  <div class="grid-row">
    <div class="desktop:grid-col-8 usa-prose padding-right-4">
      <h1 class="title">{{page.title}}</h1>
      <div class="margin-bottom-2">
        <div class="margin-y-1">
          <span class="text-bold">{{ page.date | date: '%B %d, %Y' }}</span>
          {% if page.authors %}
          <br>
          <span>By {% for author in page.authors %}{% include staff.html staff=author %}{% endfor %}</span>
          {% endif %}
        </div>
        {% if page.webinar == true %}
          {% assign today_date = 'now' | date: '%s' %}
          {% assign webinar_date = page.date | date: '%s' %}
          {% if webinar_date > today_date %}
            <div class="margin-top-neg-105">
              {% if page.webinar-start %}
                <span class="text-italic">
                  Presentation Time: {{ page.webinar-start | date: '%I:%M %p' }}
                  {% if page.webinar-end %}
                    - {{ page.webinar-end | date: '%I:%M %p' }}
                  {% endif %}
                </span>
              {% endif %}
              {% if page.registration-link %}
                <br>
                <span>
                  <a href="{{ page.registration-link }}">Registration Link</a>
                </span>
              {% endif %}
            </div>
          {% else %}
            <div class="margin-top-neg-105">
              <span>
                Presented on: {{ page.date | date: '%B %d, %Y' }}
              </span>
              {% if page.video-link %}
                <br>
                <span>
                  <a href="{{ page.video-link }}">Watch recorded webinar</a>
                </span>
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
        <div>
          {{ content }}
        </div>
      </div>
    </div>
    <aside class="desktop:grid-col-fill margin-top-4 padding-right-4">
      {%- if page.webinar == true -%}
        {%- include sidenav-webinars.html -%}
      {%- else -%}
        {%- include sidenav-posts.html -%}
      {%- endif -%}
    </aside>
  </div>
</div>
