---
layout: default
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
        <nav>
          <h2>Table of contents</h2>
          <ul class="usa-sidenav">
            {% assign ordered_chapters = site[page.collection-folder] | sort:"order-number" %}
            {% for chapter in ordered_chapters %}
              <li class="usa-sidenav__item">
                {% if page.title == chapter.title %}
                 <a href="{{site.baseurl}}{{ chapter.url }}" class="usa-current">{{ chapter.title }}</a>
                  <ul id="subsections" class="usa-sidenav__sublist">
                  </ul>
                  {% else %}
                  <a href="{{site.baseurl}}{{ chapter.url }}">{{ chapter.title }}</a>
                 {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      </aside>
      <div id="standard" class="usa-layout-docs__main desktop:grid-col-9 usa-prose">
        <h1>{{page.title}}</h1>
        {% if page.file %}
        <a href="{{ site.baseurl }}{{ page.file-directory }}{{ page.file }}" download="{{ page.file }}">
          <button class="usa-button ">Download PDF</button>
        </a>
        {% endif %}
        {{ content }}

      </div>
    </div>
  </div>
</div>


<script>
  {
    console.log("tttt")
    var x = document.getElementById("standard").querySelectorAll("h3");
    var i;
    for (i = 0; i < x.length; i++) {
      var section = x[i].innerText;
      console.log(section);
    

      var idtag = section.replace(/ /g,"-");
      x[i].setAttribute("id",idtag);

      console.log(idtag);

    var li = "<li><a href=\"#" + idtag + "\">" + section + "</a></li>";
      console.log(li);
    document.getElementById("subsections").innerHTML += li;
     
    };
    //alert("TOC successfully loaded!");
  };
  </script>