---
layout: default
---

{% comment %}

This is a universal layout that will create the page based on what front matter is or is not available



toc: 
  This is where you can specify what type of table of contents you want. If TOC is null, no table of contents is created and the page with is reduced to desktop instead of wide. TOC options include:
  toc-auto.html
  sidenav.html
  toc-data.html
   and anything else you create input in the _includes folder


toc-group: 
  This is used to create a group of pages within the same collection (ex _research ) and uses order-number to create the table of contents. You must have this front matter, and all of the pages must have the same exact TOC-group for the toc: toc-multi.html to work properly


{% endcomment %}

<div class="usa-layout-docs">
  {% if page.banner-title %}
  <div id="section-title" class="bg-primary-darker usa-content font-serif-lg padding-y-3">
    <div class="grid-container text-center maxw-desktop">
      <h1 class="text-normal text-white margin-0">{{ page.banner-title }}</h1>
      {% if page.banner-subtitle %}
      <h3 class="text-italic text-white margin-0 padding-top-1">{{ page.banner-subtitle }}</h3>
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div class="grid-container {% if page.width == 'desktop' %}maxw-desktop{% endif %}">
    <div class="grid-row grid-gap">
      {% if page.toc %}
      {% include {{ page.toc }} %}
      {% endif %}
      <div id="content" class="desktop:grid-col usa-prose margin-2">
        <h2>{{page.title}}</h2>
        {% if page.file %}
        <div class="clearfix">
            <span class="float-right">{{ page.file-description }}
            <a href="{{ site.baseurl }}{{ page.file }}" target="_blank" rel="noreferrer">
            <button class="usa-button">Download</button>
            </a>
            </span>
        </div>
        {% endif %}

        <div id="{% if page.toc == toc-auto.html %}toc-source-content{% endif %}">{{ content }}</div>

        {% include back-to-top.html %}

      </div>

      {% if page.right-sidenav %}
      {% include {{ page.right-sidenav }} %}
      {% endif %}
    </div>
  </div>
</div>
