---
title: Chapter V10
order-number: 10
---

<div itemprop="articleBody">
<h3>V1001 General</h3>
<h4>V1001.1 Scope</h4>
<p>The provisions of Chapter 10 shall apply where required by Chapter 2 or where referenced by a requirement in this document.</p>
<p class="advisory"><span class="text-bold">Advisory V1001.1 Scope</span> Unless otherwise modified or specifically addressed in Chapter 10, all other provisions apply to the design and construction of recreation facilities and elements.The provisions in Section V1001.1 apply wherever these elements are provided.For example, some passenger vessels may contain a room with exercise equipment to which these sections would apply.</p>
<h3>V1002 Exercise Machines and Equipment</h3>
<h4>V1002.1 Clear Deck Space</h4>
<p>Exercise machines and equipment shall have a clear deck space complying with V305 positioned for transfer or for use by an individual seated in a wheelchair.Clear deck spaces required at exercise machines and equipment shall be permitted to overlap.</p>
<p class="advisory"><span class="text-bold">Advisory V1002.1 Clear Deck Space</span> One clear deck space is permitted to be shared between two pieces of exercise equipment.To optimize space use, designers should carefully consider layout options such as connecting ends of the row and center aisle spaces.The position of the clear deck space may vary greatly depending on the use of the equipment or machine.For example, to provide access to a shoulder press machine, clear deck space next to the seat would be appropriate to allow for transfer.Clear deck space for a bench press machine designed for use by an individual seated in a wheelchair, however, will most likely be centered on the operating mechanisms.</p>
<h3>V1003 Miniature Golf Facilities</h3>
<h4>V1003.1 General</h4>
<p>Miniature golf facilities shall comply with V1003.</p>
<h4>V1003.2 Accessible Routes</h4>
<p>Accessible routes serving holes on miniature golf courses shall comply with V402.Accessible routes located on playing surfaces of miniature golf holes shall be permitted to use the exceptions in V1003.2.</p>
<p class="text-bold">EXCEPTIONS</p>
<ol>
<li>Playing surfaces shall not be required to comply with V302.2.</li>
<li>Where accessible routes intersect playing surfaces of holes, a 1 inch (25 mm) maximum curb shall be permitted for a width of 32 inches (815 mm) minimum.</li>
<li>A slope not steeper than 1:4 for a 4 inch (100 mm) maximum rise shall be permitted.</li>
<li>Ramp landing slopes specified by V405.7.1 shall be permitted to be 1:20 maximum.</li>
<li>Ramp landing length specified by V405.7.3 shall be permitted to be 48 inches (1220 mm) long minimum.</li>
<li>Ramp landing size specified by V405.7.4 shall be permitted to be 48 inches (1220 mm) minimum by 60 inches (1525 mm) minimum.</li>
<li>Handrails shall not be required on holes.Where handrails are provided on holes, the handrails shall not be required to comply with V503.</li>
</ol>
<h4>V1003.3 Miniature Golf Holes</h4>
<p>Miniature golf holes shall comply with V1003.3.</p>
<h5>V1003.3.1 Start of Play</h5>
<p>A clear deck space 48 inches (1220 mm) minimum by 60 inches (1525 mm) minimum with slopes not steeper than 1:48 shall be provided at the start of play.</p>
<h5>V1003.3.2 Golf Club Reach Range Area</h5>
<p>All areas within holes where golf balls rest shall be within 36 inches (915 mm) maximum of a clear deck space 48 inches (1220 mm) long minimum and 36 inches (915 mm) wide minimum having a running slope not steeper than 1:20.The clear deck space shall be served by an accessible route.</p>
<p class="advisory"><span class="text-bold">Advisory V1003.3.2 Golf Club Reach Range Area</span> The golf club reach range applies to all holes required to be accessible.This includes accessible routes provided adjacent to or, where provided, on the playing surface of the hole.</p>
{% include figure-caption.html
    text="Figure V1003.3.2: Golf Club Reach Range Area"
    img-file="V1003-3-2.jpg"
    img-alt="A plan view shows a person using a wheelchair reaching a golf ball.The wheelchair space is 48 inches (1220 mm) long minimum and 36 inches (915 mm) wide minimum, having a running slope not steeper than 1:20.The golf ball is 36 inches (915 mm) maximum from the wheelchair clear deck space."
%}

<h3>V1004 Play Areas</h3>
<h4>V1004.1 General</h4>
<p>Play areas shall comply with V1004.</p>
<h4>V1004.2 Accessible Routes</h4>
<p>Accessible routes serving play areas shall comply with V402 and V1004.2 and shall be permitted to use the exceptions in V1004.2.1 through V1004.2.3.Where accessible routes serve ground level play components, the vertical clearance shall be 80 inches high (2030 mm) minimum.</p>
<h5>V1004.2.1 Ground Level and Elevated Play Components</h5>
<p>Accessible routes serving ground level play components and elevated play components shall be permitted to use the exceptions in V1004.2.1.</p>
<p class="text-bold">EXCEPTIONS</p>
<ol>
<li>Transfer systems complying with V1004.3 shall be permitted to connect elevated play components except where 20 or more elevated play components are provided no more than 25 percent of the elevated play components shall be permitted to be connected by transfer systems.</li>
<li>Where transfer systems are provided, an elevated play component shall be permitted to connect to another elevated play component as part of an accessible route.</li>
</ol>
<p class="advisory"><span class="text-bold">Advisory V1004.2.1 Ground Level and Elevated Play Components</span> The term “ground level” is used in this document and refers to the base level of a playground.Technical assistance material written for landside applications is available at www.access-board.gov and can aid in applying the play area provisions to passenger vessels.</p>
<h5>V1004.2.2 Soft Contained Play Structures</h5>
<p>Accessible routes serving soft contained play structures shall be permitted to use the exception in V1004.2.2.</p>
<p class="text-bold">EXCEPTION</p>
<p>Transfer systems complying with V1004.3 shall be permitted to be used as part of an accessible route.</p>
<h5>V1004.2.3 Water Play Components</h5>
<p>Accessible routes serving water play components shall be permitted to use the exceptions in V1004.2.3.</p>
<p class="text-bold">EXCEPTIONS</p>
<ol>
<li>Where the surface of the accessible route, clear deck spaces, or turning spaces serving water play components is submerged, compliance with V302, V403.3, V405.2, V405.3, and V1004.2.6 shall not be required.</li>
<li>Transfer systems complying with V1004.3 shall be permitted to connect elevated play components in water.</li>
</ol>
<h5>V1004.2.4 Clear Width</h5>
<p>Accessible routes connecting play components shall provide a clear width complying with V1004.2.4.</p>
<h6>V1004.2.4.1 Ground Level</h6>
<p>At ground level, the clear width of accessible routes shall be 60 inches (1525 mm) minimum.</p>
<p class="text-bold">EXCEPTIONS</p>
<ol>
<li>In play areas less than 1000 square feet (92 m²), the clear width of accessible routes shall be permitted to be 44 inches (1120 mm) minimum provided that at least one turning space complying with V304.3 is provided where the restricted accessible route exceeds 30 feet (9.14 m) in length.</li>
<li>The clear width of accessible routes shall be permitted to be 36 inches (915 mm) minimum for a distance of 60 inches (1525 mm) maximum provided that multiple reduced width segments are separated by segments that are 60 inches (1525 mm) wide minimum and 60 inches (1525 mm) long minimum.</li>
</ol>
<h6>V1004.2.4.2 Elevated</h6>
<p>The clear width of accessible routes connecting elevated play components shall be 36 inches (915 mm) minimum.</p>
<p class="text-bold">EXCEPTIONS</p>
<ol>
<li>The clear width of accessible routes connecting elevated play components shall be permitted to be reduced to 32 inches (815 mm) minimum for a distance of 24 inches (610 mm) maximum if reduced width segments are separated by segments that are 48 inches (1220 mm) long minimum and 36 inches (915 mm) wide minimum.</li>
<li>The clear width of transfer systems connecting elevated play components shall be permitted to be 24 inches (610 mm) minimum.</li>
</ol>
<h5>V1004.2.5 Ramps</h5>
<p>Within play areas, ramps connecting ground level play components and ramps connecting elevated play components shall comply with V1004.2.5.</p>
<h6>V1004.2.5.1 Ground Level</h6>
<p>Ramp runs connecting ground level play components shall have a running slope not steeper than 1:16.</p>
<h6>V1004.2.5.2 Elevated</h6>
<p>The rise for any ramp run connecting elevated play components shall be 12 inches (305 mm) maximum.</p>
<h6>V1004.2.5.3 Handrails</h6>
<p>Where required on ramps serving play components, the handrails shall comply with V503, except as modified by V1004.2.5.3.</p>
<p class="text-bold">EXCEPTIONS</p>
<ol>
<li>Handrails shall not be required on ramps located within ground level use zones.</li>
<li>Handrail extensions shall not be required.</li>
</ol>
<p role="heading" aria-level="7" class="text-bold">V1004.2.5.3.1 Handrail Gripping Surfaces</p>
<p>Handrail gripping surfaces with a circular cross section shall have an outside diameter of 0.95 inches (24 mm) minimum and 1.55 inches (39 mm) maximum.Where the shape of the gripping surface is non-circular, the handrail shall provide an equivalent gripping surface.</p>
<p role="heading" aria-level="7" class="text-bold">V1004.2.5.3.2 Handrail Height</p>
<p>The top of handrail gripping surfaces shall be 20 inches (510 mm) minimum and 28 inches (710 mm) maximum above the ramp surface.</p>
<h5>V1004.2.6 Ground Surfaces</h5>
<p>Deck surfaces on accessible routes, clear deck spaces, and turning spaces shall comply with V1004.2.6.</p>
<h6>V1004.2.6.1 Accessibility</h6>
<p>Deck surfaces shall comply with ASTM F1951 (incorporated by reference, see “Referenced Standards” in Chapter 1).Ground surfaces shall be inspected and maintained regularly and frequently to ensure continued compliance with ASTM F1951.</p>
<h6>V1004.2.6.2 Use Zones</h6>
<p>Deck surfaces located within use zones shall comply with ASTM F1292 (1999 edition or 2004 edition) (incorporated by reference, see “Referenced Standards” in Chapter 1).</p>
<h4>V1004.3 Transfer Systems</h4>
<p>Where transfer systems are provided to connect to elevated play components, transfer systems shall comply with V1004.3.</p>
<h5>V1004.3.1 Transfer Platforms</h5>
<p>Transfer platforms shall be provided where transfer is intended from wheelchairs or other mobility aids.Transfer platforms shall comply with V1004.3.1.</p>
<h6>V1004.3.1.1 Size</h6>
<p>Transfer platforms shall have level surfaces 14 inches (355 mm) deep minimum and 24 inches (610 mm) wide minimum.</p>
<h6>V1004.3.1.2 Height</h6>
<p>The height of transfer platforms shall be 11 inches (280 mm) minimum and 18 inches (455 mm) maximum measured to the top of the surface from the deck surface.</p>
<h6>V1004.3.1.3 Transfer Space</h6>
<p>A transfer space complying with V305.2 and V305.3 shall be provided adjacent to the transfer platform.The 48 inch (1220 mm) long minimum dimension of the transfer space shall be centered on and parallel to the 24 inch (610 mm) long minimum side of the transfer platform.The side of the transfer platform serving the transfer space shall be unobstructed.</p>
<h6>V1004.3.1.4 Transfer Supports</h6>
<p>At least one means of support for transferring shall be provided.</p>
{% include figure-caption.html
    text="Figure V1004.3.1: Transfer Platforms in Play Areas"
    img-file="V1004-3-1.jpg"
    img-alt="Figure (a) is an elevation drawing showing a transfer platform with a surface height 11 to 18 inches (280 to 455 mm) above the deck surface.Figure (b) is a plan view of the platform having a depth of 14 inches (355 mm) minimum and a width of 24 inches (610 mm) minimum.A clear deck space that is 48 inches (1220 mm) long minimum is centered on this dimension parallel to the 24 in (610 mm) minimum long unobstructed side of the transfer platform."
%}

<h5>V1004.3.2 Transfer Steps</h5>
<p>Transfer steps shall be provided where movement is intended from transfer platforms to levels with elevated play components required to be on accessible routes.Transfer steps shall comply with V1004.3.2.</p>
<h6>V1004.3.2.1 Size</h6>
<p>Transfer steps shall have level surfaces 14 inches (355 mm) deep minimum and 24 inches (610 mm) wide minimum.</p>
<h6>V1004.3.2.2 Height</h6>
<p>Each transfer step shall be 8 inches (205 mm) high maximum.</p>
<h6>V1004.3.2.3 Transfer Supports</h6>
<p>At least one means of support for transferring shall be provided.</p>
{% include figure-caption.html
    text="Figure V1004.3.2: Transfer Steps in Play Areas"
    img-file="V1004-3-2.jpg"
    img-alt="Figure (a) is an elevation drawing of a transfer step 8 inches (205 mm) high maximum.Figure (b) is a plan view of a transfer step that is 14 inches (355 mm) deep minimum and 24 inches (610 mm) long minimum."
%}

<h4>V1004.4 Play Components</h4>
<p>Ground level play components on accessible routes and elevated play components connected by ramps shall comply with V1004.4.</p>
<h5>V1004.4.1 Turning Space</h5>
<p>At least one turning space complying with V304 shall be provided on the same level as play components.Where swings are provided, the turning space shall be located immediately adjacent to the swing.</p>
<h5>V1004.4.2 Clear Deck Space</h5>
<p>Clear deck space complying with V305.2 and V305.3 shall be provided at play components.</p>
<h5>V1004.4.3 Play Tables</h5>
<p>Where play tables are provided, knee clearance 24 inches (610 mm) high minimum, 17 inches deep (430 mm) minimum, and 30 inches (760 mm) wide minimum shall be provided.The tops of rims, curbs, or other obstructions shall be 31 inches (785 mm) high maximum.</p>
<p class="text-bold">EXCEPTION</p>
<p>Play tables designed and constructed primarily for children 5 years and younger shall not be required to provide knee clearance where the clear deck space required by V1004.4.2 is arranged for a parallel approach.</p>
<h5>V1004.4.4 Entry Points and Seats</h5>
<p>Where play components require transfer to entry points or seats, the entry points or seats shall be 11 inches (280 mm) minimum and 24 inches (610 mm) maximum from the clear deck space.</p>
<p class="text-bold">EXCEPTION</p>
<p>Entry points of slides shall not be required to comply with V1004.4.4.</p>
<h5>V1004.4.5 Transfer Supports</h5>
<p>Where play components require transfer to entry points or seats, at least one means of support for transferring shall be provided.</p>
<h3>V1005 Swimming Pools, Wading Pools, and Spas</h3>
<h4>V1005.1 General</h4>
<p>Where provided, pool lifts, sloped entries, transfer walls, transfer systems, and pool stairs shall comply with V1005.</p>
<h4>V1005.2 Pool Lifts</h4>
<p>Pool lifts shall comply with V1005.2.</p>
<p class="advisory"><span class="text-bold">Advisory V1005.2 Pool Lifts</span> There are a variety of seats available on pool lifts ranging from sling seats to those that are preformed or molded.Pool lift seats with backs will enable a larger population of persons with disabilities to use the lift.Pool lift seats that consist of materials that resist corrosion and provide a firm base to transfer will be usable by a wider range of people with disabilities.Additional options such as armrests, head rests, seat belts, and leg support will enhance accessibility and better accommodate people with a wide range of disabilities.</p>
<h5>V1005.2.1 Seat Location</h5>
<p>In the raised position, the centerline of the seat shall be located over the deck surface and 16 inches (405 mm) minimum from the edge of the pool.The deck surface between the centerline of the seat and the pool edge shall have a slope not steeper than 1:48.</p>
{% include figure-caption.html
    text="Figure V1005.2.1: Pool Lift Seat Location"
    img-file="V1005-2-1.jpg"
    img-alt="A plan view shows pool lift seat located over the deck 16 inches minimum from the edge of the pool, measured to the seat centerline."
%}

<h5>V1005.2.2 Clear Deck Space</h5>
<p>On the side of the seat opposite the water, a clear deck space shall be provided parallel with the seat.The space shall be 36 inches (915 mm) wide minimum and shall extend forward 48 inches (1220 mm) minimum from a line located 12 inches (305 mm) behind the rear edge of the seat.The clear deck space shall have a slope not steeper than 1:48.</p>
{% include figure-caption.html
    text="Figure V1005.2.2: Clear Deck Space at Pool Lifts"
    img-file="V1005-2-2.jpg"
    img-alt="A plan view of clear deck space at pool lifts shows a clear deck space 36 inches (915 mm) wide minimum and 48 inches (1220 mm) long minimum is shown parallel to the seat, on the side of the seat opposite the water.The 48-inch length extends from a line located 12 inches behind the rear edge of the seat."
%}

<h5>V1005.2.3 Seat Height</h5>
<p>The height of the lift seat shall be designed to allow a stop at 16 inches (405 mm) minimum to 19 inches (485 mm) maximum measured from the deck surface to the top of the seat surface when in the raised (load) position.</p>
{% include figure-caption.html
    text="Figure V1005.2.3: Pool Lift Seat Height"
    img-file="V1005-2-3.jpg"
    img-alt="An elevation drawing shows pool lift seat height to be 16 to 19 inches (405 to 485 mm) measured from the deck surface to the top of the seat surface when in the raised (load) position."
%}

<h5>V1005.2.4 Seat Width</h5>
<p>The seat shall be 16 inches (405 mm) wide minimum.</p>
<h5>V1005.2.5 Footrests and Armrests</h5>
<p>Footrests shall be provided and shall move with the seat.If provided, the armrest positioned opposite the water shall be removable or shall fold clear of the seat when the seat is in the raised (load) position.</p>
<p class="text-bold">EXCEPTION</p>
<p>Footrests shall not be required on pool lifts provided in spas.</p>
<h5>V1005.2.6 Operation</h5>
<p>The lift shall be capable of unassisted operation from both the deck surface and water levels.Controls and operating mechanisms shall be unobstructed when the lift is in use and shall comply with V309.4.</p>
<p class="advisory"><span class="text-bold">Advisory V1005.2.6 Operation</span> Pool lifts must be capable of unassisted operation from both the deck and water levels.This will permit a person to call the pool lift when the pool lift is in the opposite position.It is extremely important for a person who is swimming alone to be able to call the pool lift when it is in the up position so he or she will not be stranded in the water for extended periods of time awaiting assistance.The requirement for a pool lift to be independently operable does not preclude assistance from being provided.</p>
<h5>V1005.2.7 Submerged Depth</h5>
<p>The lift shall be designed so that the seat will submerge to a water depth of 18 inches (455 mm) minimum below the stationary water level.</p>
<p class="advisory"><span class="text-bold">Advisory V1005.2.7 Submerged Depth</span> As pool lifts are required by V1005.2.5 to be equipped with footrests, water depths greater than 18 inches (455 mm) are needed to properly submerge the seat of pool lifts.To allow the opportunity for someone to provide assistance from a standing position in the water to lift users, it is recommended that a portion of the pools where pool lifts are located have water depths that do not exceed 48 inches (1220 mm).</p>
{% include figure-caption.html
    text="Figure V1005.2.7: Pool Lift Submerged Depth"
    img-file="V1005-2-7.jpg"
    img-alt="An elevation drawing shows a pool lift with the surface of the seat submerged to a water depth of 18 inches (455 mm) minimum below the stationary water level."
%}

<h5>V1005.2.8 Lifting Capacity</h5>
<p>Single person pool lifts shall have a weight capacity of 300 pounds (136 kg) minimum and be capable of sustaining a static load of at least one and a half times the rated load.</p>
<p class="advisory"><span class="text-bold">Advisory V1005.2.8 Lifting Capacity</span> Single person pool lifts must be capable of supporting a minimum weight of 300 pounds (136 kg) and sustaining a static load of at least one and a half times the rated load.Providing a pool lift with a weight capacity greater than 300 pounds (136 kg) may be advisable.</p>
<h4>V1005.3 Sloped Entries</h4>
<p>Sloped entries shall comply with V1005.3.</p>
<p class="advisory"><span class="text-bold">Advisory V1005.3 Sloped Entries</span> Personal wheelchairs and mobility devices may not be appropriate for submerging in water.Some may have batteries, motors, and electrical systems that when submerged in water may cause damage to the personal mobility device or wheelchair or may contaminate the pool water.Providing an aquatic wheelchair made of non-corrosive materials and designed for access into the water will protect the water from contamination and avoid damage to personal wheelchairs or other mobility aids.</p>
<h5>V1005.3.1 Sloped Entries</h5>
<p>Sloped entries shall comply with V402 except as modified in V1005.3.1 through V1005.3.3.</p>
<p class="text-bold">EXCEPTION</p>
<p>Where sloped entries are provided, the surfaces shall not be required to be slip resistant.</p>
<h5>V1005.3.2 Submerged Depth</h5>
<p>Sloped entries shall extend to a depth of 24 inches (610 mm) minimum and 30 inches (760 mm) maximum below the stationary water level.Where landings are required by V405.7, at least one landing shall be located 24 inches (610 mm) minimum and 30 inches (760 mm) maximum below the stationary water level.</p>
<p class="text-bold">EXCEPTION</p>
<p>In wading pools, the sloped entry and landings, if provided, shall extend to the deepest part of the wading pool.</p>
<h5>V1005.3.3 Handrails</h5>
<p>At least two handrails complying with V503 shall be provided on the sloped entry.The clear width between required handrails shall be 33 inches (840 mm) minimum and 38 inches (965 mm) maximum.</p>
<p class="text-bold">EXCEPTIONS</p>
<ol>
<li>Handrail extensions specified by V503.10.1 shall not be required at the bottom landing serving a sloped entry.</li>
<li>Where a sloped entry is provided for wave action pools, leisure rivers, sand bottom pools, and other pools where user access is limited to one area, the handrails shall not be required to comply with the clear width requirements of V1005.3.3.</li>
<li>Sloped entries in wading pools shall not be required to provide handrails complying with V1005.3.3.If provided, handrails on sloped entries in wading pools shall not be required to comply with V503.</li>
</ol>
<h4>V1005.4 Transfer Walls</h4>
<p>Transfer walls shall comply with V1005.4.</p>
<h5>V1005.4.1 Clear Deck Space</h5>
<p>A clear deck space of 60 inches (1525 mm) minimum by 60 inches (1525 mm) minimum with a slope not steeper than 1:48 shall be provided at the base of the transfer wall.Where one grab bar is provided, the clear deck space shall be centered on the grab bar.Where two grab bars are provided, the clear deck space shall be centered on the clearance between the grab bars.</p>
<h5>V1005.4.2 Height</h5>
<p>The height of the transfer wall shall be 16 inches (405 mm) minimum and 19 inches (485 mm) maximum measured from the deck surface.</p>
<h5>V1005.4.3 Wall Depth and Length</h5>
<p>The depth of the transfer wall shall be 12 inches (305 mm) minimum and 16 inches (405 mm) maximum.The length of the transfer wall shall be 60 inches (1525 mm) minimum and shall be centered on the clear deck space.</p>
<h5>V1005.4.4 Surface</h5>
<p>Surfaces of transfer walls shall not be sharp and shall have rounded edges.</p>
<h5>V1005.4.5 Grab Bars</h5>
<p>At least one grab bar complying with V609 shall be provided on the transfer wall.Grab bars shall be perpendicular to the pool wall and shall extend the full depth of the transfer wall.The top of the gripping surface shall be 4 inches (100 mm) minimum and 6 inches (150 mm) maximum above transfer walls.Where one grab bar is provided, clearance shall be 24 inches (610 mm) minimum on both sides of the grab bar.Where two grab bars are provided, clearance between grab bars shall be 24 inches (610 mm) minimum.</p>
<p class="text-bold">EXCEPTION</p>
<p>Grab bars on transfer walls shall not be required to comply with V609.4.</p>
<h4>V1005.5 Transfer Systems</h4>
<p>Transfer systems shall comply with V1005.5.</p>
<h5>V1005.5.1 Transfer Platform</h5>
<p>A transfer platform shall be provided at the head of each transfer system.Transfer platforms shall provide 19 inches (485 mm) minimum clear depth and 24 inches (610 mm) minimum clear width.</p>
{% include figure-caption.html
    text="Figure V1005.5.1: Size of Transfer Platform"
    img-file="V1005-5-1.jpg"
    img-alt="A plan view shows a transfer platform at the top of a series of transfer steps leading down into the water.The platform at the top has a clear depth of 19 inches (485 mm) minimum and a clear width of 24 inches (610 mm) minimum."
%}

<h5>V1005.5.2 Transfer Space</h5>
<p>A transfer space of 60 inches (1525 mm) minimum by 60 inches (1525 mm) minimum with a slope not steeper than 1:48 shall be provided at the base of the transfer platform surface and shall be centered along a 24 inch (610 mm) minimum side of the transfer platform.The side of the transfer platform serving the transfer space shall be unobstructed.</p>
{% include figure-caption.html
    text="Figure V1005.5.2: Clear Deck Space at Transfer Platform"
    img-file="V1005-5-2.jpg"
    img-alt="A plan view shows clear deck space 60 by 60 inches (1525 by 1525 mm) minimum at the base of the transfer platform surface that is centered along a 24 inch minimum unobstructed side of the transfer platform."
%}

<h5>V1005.5.3 Height</h5>
<p>The height of the transfer platform shall comply with V1005.4.2.</p>
<p class="text-bold">EXCEPTION</p>
<p>Transfer platforms which serve wading pools are permitted to have a height of 11 inches (280 mm) minimum and 18 inches (455 mm) maximum measured to the top of the platform surface from the deck surface.</p>
<h5>V1005.5.4 Transfer Steps</h5>
<p>Transfer step height shall be 8 inches (205 mm) maximum.The surface of the bottom tread shall extend to a water depth of 18 inches (455 mm) minimum below the stationary water level.</p>
<p class="text-bold">EXCEPTION</p>
<p>In wading pools where the depth of the water is less than 18 inches (455 mm), the water depth of the bottom tread surface is permitted to be equal to the depth of the pool.</p>
<p class="advisory"><span class="text-bold">Advisory V1005.5.4 Transfer Steps</span> Where possible, the height of the transfer step should be minimized to decrease the distance an individual is required to lift up or move down to reach the next step to gain access.</p>
{% include figure-caption.html
    text="Figure V1005.5.4: Transfer Steps"
    img-file="V1005-5-4.jpg"
    img-alt="An elevation drawing shows transfer system steps that are 8 inches (205 mm) high maximum which extend to a water depth of 18 inches (455 mm) minimum below the stationary water level."
%}

<h5>V1005.5.5 Surface</h5>
<p>The surface of the transfer system shall not be sharp and shall have rounded edges.</p>
<p class="advisory"><span class="text-bold">Advisory V1005.5.5 Surface</span> People using the transfer system may have skin contact with the surfaces of the transfer system.Care should be taken in selecting surface materials.Some materials require more maintenance and may be subject to splintering which might cause skin injuries and related health complications.Padding of transfer surfaces may further protect people during use of such systems.</p>
<h5>V1005.5.6 Size</h5>
<p>Each transfer step shall have a tread clear depth of 14 inches (355 mm) minimum and 17 inches (430 mm) maximum and shall have a tread clear width of 24 inches (610 mm) minimum.</p>
{% include figure-caption.html
    text="Figure V1005.5.6: Size of Transfer Steps"
    img-file="V1005-5-6.jpg"
    img-alt="A plan view shows a transfer system with each step having a tread clear depth of 14 to 17 inches (355 to 430 mm) and a tread clear width of 24 inches (610 mm) minimum."
%}
<h5>V1005.5.7 Grab Bars</h5>
<p>At least one grab bar on each transfer step and the transfer platform or a continuous grab bar serving each transfer step and the transfer platform shall be provided.Where a grab bar is provided on each step, the tops of gripping surfaces shall be 4 inches (100 mm) minimum and 6 inches (150 mm) maximum above each step and transfer platform.Where a continuous grab bar is provided, the top of the gripping surface shall be 4 inches (100 mm) minimum and 6 inches (150 mm) maximum above the step nosing and transfer platform.Grab bars shall comply with V609 and be located on at least one side of the transfer system.The grab bar located at the transfer platform shall not obstruct transfer.</p>
<p class="text-bold">EXCEPTION</p>
<p>Grab bars on transfer systems shall not be required to comply with V609.4.</p>
{% include figure-caption.html
    text="Figure V1005.5.7: Grab Bars"
    img-file="V1005-5-7.jpg"
    img-alt="Two elevation drawings show grab bars at transfer systems.Figure (a) shows individual grab bars on the platform and each step with the top of the gripping surface 4 to 6 inches (100 to 150 mm) above each step and transfer platform.Figure (b) shows a continuous grab bar with the top of the gripping surface 4 to 6 inches (100 to 150) above the step nosing and transfer platform."
%}

<h4>V1005.6 Pool Stairs</h4>
<p>Pool stairs shall comply with V1005.6.</p>
<h5>V1005.6.1 Pool Stairs</h5>
<p>Pool stairs shall comply with V502.</p>
<h5>V1005.6.2 Handrails</h5>
<p>The width between handrails shall be 20 inches (510 mm) minimum and 24 inches (610 mm) maximum.</p>
<h3>V1006 Shooting Positions</h3>
<h4>V1006.1 Turning Space</h4>
<p>A circular turning space 60 inches (1525 mm) diameter minimum with slopes not steeper than 1:48 shall be provided at shooting positions.</p>	</div>